<div class="govuk-grid-row govuk-!-padding-5" style="background-color: white; border-bottom: 4px solid #1d70b8">
  <div class="govuk-!-margin-bottom-1"><strong class="govuk-tag">Police record</strong></div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row govuk-!-padding-top-2" style="background-color: white">


        <div class="govuk-grid-row govuk-!-padding-top-2" style="background-color: white; border-bottom: 4px solid #1d70b8">

          <div class="govuk-grid-row govuk-!-padding-2">
            <div class="govuk-grid-column-two-thirds-from-desktop">
              <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-third">
                  <p class="govuk-body govuk-!-margin-bottom-0">VRM</p>
                  <p class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">CF60 ABC</p>
                  <p class="govuk-body govuk-!-margin-bottom-0">VIN</p>
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Unknown</p>
                </div>

                <div class="govuk-grid-column-one-third">
                  <p class="govuk-body govuk-!-margin-bottom-0">Body type</p>
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2 ">SUV</p>
                  <p class="govuk-body govuk-!-margin-bottom-0">Make/model</p>
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">BMX, X5</p>
                </div>
                <div class="govuk-grid-column-one-third" style="border-style: solid; border-bottom-width: 0px; border-left-width: 0px; border-top-width: 0px; border-right-width: 2px; border-color: grey">
                  <p class="govuk-body govuk-!-margin-bottom-0">Colour</p>
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Blue</p>
                  <p class="govuk-body govuk-!-margin-bottom-0">Fuel type</p>
                  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Petrol</p>
                </div>
              </div>
            </div>

          <div class="govuk-grid-column-one-third-from-desktop">
            <div class="govuk-grid-row">

              <div class="govuk-grid-column-full" style="background-color: transparent">
                <p class="govuk-body govuk-!-margin-bottom-0">Registered keeper</p>
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Unknown</p>
                <p class="govuk-body govuk-!-margin-bottom-0">Registered keeper address</p>
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Unknown</p>
              </div>
            </div>
          </div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-padding-left-3 govuk-!-padding-top-3">
              </div>



        <!-- <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0">VRM</p>
          <h1 class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">CF60 ABC</h1>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-padding-top-2">
          <p class="govuk-body govuk-!-margin-bottom-0">Make/Model</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">BMX, X5</p>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-padding-top-2" style="border-style: solid; border-bottom-width: 0px; border-left-width: 0px; border-top-width: 0px; border-right-width: 2px; border-color: grey">
        <p class="govuk-body govuk-!-margin-bottom-0">Body type</p>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">SUV</p>
        </div>
      </div>
    </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-top-2 govuk-!-padding-left-0">
        <div class="govuk-grid-row govuk-!-padding-top-2" style="background-color: white">
              <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
                <p class="govuk-body govuk-!-margin-bottom-0 ">Registered keeper</p>
                <p class="govuk-body govuk-!-font-weight-bold">Unknown</p>
              </div>
              <div class="govuk-grid-column-one-half">
                <p class="govuk-body govuk-!-margin-bottom-0">Keeper since</p>
                <p class="govuk-body govuk-!-font-weight-bold">Unknown</p>
              </div>
        </div>
      </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-top-2" style="background-color: white">
    <div class="govuk-grid-column-two-thirds" >
      <div class="govuk-grid-row govuk-!-padding-top-2 " style="background-color: white">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0">VIN</p>
          <h1 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Unknown</h1>
        </div>
        <div class="govuk-grid-column-one-third" >
          <p class="govuk-body govuk-!-margin-bottom-0">Colour</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Blue</p>
        </div>
        <div class="govuk-grid-column-one-quarter" style="border-style: solid; border-bottom-width: 0px; border-left-width: 0px; border-top-width: 0px; border-right-width: 2px; border-color: grey">
        <p class="govuk-body govuk-!-margin-bottom-0">Fuel type<br>
          <img src="/public/images/petrol.png" align="top" alt="">
          <span class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Petrol</span>
        </p>
        </div>
      </div>
    </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
        <div class="govuk-grid-row govuk-!-padding-top-2" style="background-color: white" >
              <div class="govuk-grid-column-one-full govuk-!-padding-left-0">
                <p class="govuk-body govuk-!-margin-bottom-0 ">Registered keeper address</p>
                <p class="govuk-body govuk-!-font-weight-bold">Unknown</p>
              </div>
        </div>
      </div> -->

      <div class="govuk-grid-row govuk-!-padding-left-3 govuk-!-padding-right-3">
        <div class="govuk-grid-column-full">

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "View all vehicle details",
  html: '<dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registered keeper since
            </dt>
            <dd class="govuk-summary-list__value">
              Unknown
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Engine number
            </dt>
            <dd class="govuk-summary-list__value">
              52WVC10338
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Engine capacity
            </dt>
            <dd class="govuk-summary-list__value">
              2000cc
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vehicle registration date
            </dt>
            <dd class="govuk-summary-list__value">
              20/12/2010
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Autonomous vehicle
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Secondary colour
            </dt>
            <dd class="govuk-summary-list__value">
              White
            </dd>
          </div>
<!--
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Transponder tag number
            </dt>
            <dd class="govuk-summary-list__value">
              -
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Record owner
            </dt>
            <dd class="govuk-summary-list__value">
              -
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Record creator
            </dt>
            <dd class="govuk-summary-list__value">
              -
            </dd>
          </div>
-->
        </dl>'
}) }}
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m">
