<div class="govuk-grid-row govuk-!-padding-5" style="background-color: white; border-bottom: 4px solid #1d70b8">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <div class="govuk-grid-row govuk-!-padding-bottom-3">

        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0">VRM</p>
          <p class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">CF60 DPK</p>
          <p class="govuk-body govuk-!-margin-bottom-0">VIN</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">5YJSA1DG9DFP14705</p>
        </div>

        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0">Body type</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2 ">5 door saloon</p>
          <p class="govuk-body govuk-!-margin-bottom-0">Make/model</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Mercedes Benz, C-Class</p>
        </div>
        <div class="govuk-grid-column-one-third" style="border-style: solid; border-bottom-width: 0px; border-left-width: 0px; border-top-width: 0px; border-right-width: 2px; border-color: grey">
          <p class="govuk-body govuk-!-margin-bottom-0">Colour</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Black</p>
          <p class="govuk-body govuk-!-margin-bottom-0">Fuel type</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Electric</p>
        </div>
      </div>
    </div>

  <div class="govuk-grid-column-one-third-from-desktop">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-full" style="background-color: transparent">
        <p class="govuk-body govuk-!-margin-bottom-0">Registered keeper</p>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Sylvia Moreau</p>
        <p class="govuk-body govuk-!-margin-bottom-0">Registered keeper address</p>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">24 Oak Avenue, London<br>NE1 3KH</p>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-left-3 govuk-!-padding-right-3">
    <div class="govuk-grid-column-full">

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "More vehicle and keeper information",
  html: '<dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registered keeper since
            </dt>
            <dd class="govuk-summary-list__value">
              14 Jan 2018
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Engine number
            </dt>
            <dd class="govuk-summary-list__value">
              52WVC10338
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Engine capacity
            </dt>
            <dd class="govuk-summary-list__value">
              2000cc
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vehicle registration date
            </dt>
            <dd class="govuk-summary-list__value">
              20/12/2010
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Autonomous vehicle
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Secondary colour
            </dt>
            <dd class="govuk-summary-list__value">
              White
            </dd>
          </div>
<!--
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Transponder tag number
            </dt>
            <dd class="govuk-summary-list__value">
              -
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Record owner
            </dt>
            <dd class="govuk-summary-list__value">
              -
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Record creator
            </dt>
            <dd class="govuk-summary-list__value">
              -
            </dd>
          </div>
  -->
        </dl>'
}) }}
</div>
</div>
</div>
</div>


<hr class="govuk-section-break govuk-section-break--m">
