<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter ">
    <p class="govuk-body govuk-!-margin-bottom-0">VRM</p>
    <h1 class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">CB02 XYZ<span class="govuk-visually-hidden"> Hazards</span></h1>
  </div>
<!--  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-1">&nbsp;</p>
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0"><strong class="govuk-tag govuk-tag--purple">
    Police record
  </strong></p>
  </div>-->
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0">Make/Model</p>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Audi, A4</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0">Colour</p>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Red</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0">Body type</p>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">4 door saloon</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body govuk-!-margin-bottom-0">Fuel type<br>
      <img src="/public/images/petrol.png" align="top" alt="">
<span class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Petrol</span>
    </p>
    <strong class="govuk-tag govuk-tag--yellow">Autonomous vehicle</strong>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-margin-bottom-0">Registered keeper</p>
    <p class="govuk-body govuk-!-font-weight-bold">Angela Sanchez</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-margin-bottom-0">Registered keeper since</p>
    <p class="govuk-body govuk-!-font-weight-bold">10 June 2021</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-margin-bottom-0">Registered keeper address</p>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">	83 Teak Mews<br>London<br>NW13 4KA</p>
  </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
