{% extends "layout-mobile.html" %}

<!-- {% block pageTitle %}
  CF60 POP - Overview – {{ serviceName }} – Law Enforcement Data Service
{% endblock %} -->

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back to search page</a>
{% endblock %}

{% block content %}

{% block carheader %}
{% include "includes/carheader-mobile.html" %}
{% endblock %}

<br>

    <div class="govuk-grid-row" id="menu">
  <div class="govuk-grid-column-full govuk-!-padding-3" style="background-color: black; color: white">
    <a href="./markers-menu-open#menu" class="govuk-link govuk-link--no-underline govuk-link--inverse">
    <strong>
      ⋁ &nbsp; Vehicle menu
    </strong>
    </a>
  </div>
</div>

<br>

      {% from "govuk/components/table/macro.njk" import govukTable %}

  {{ govukTable({
    caption: "DVLA markers",
    captionClasses: "govuk-table__caption--l",
    firstCellIsHeader: true,
    head: [
      {
        text: "Marker type"
      },
      {
        text: "Notes"
      }
    ],
    rows: [
    [
        {
          text: "Unreliable record"
        },
        {
          text: "DVLA is investigating this record. Contact DVLA liaison officer for more information."
        }
      ],
      [
        {
          text: "Colour changed"
        },
        {
          html: 'Previous primary colour: White<br>
                Previous secondary colour: Black
          '
        }
      ]
    ]
  }) }}

        </div>
      </div>

{% endblock %}
