{% extends "layout-mobile.html" %}

<!-- {% block pageTitle %}
  CF60 POP - Overview – {{ serviceName }} – Law Enforcement Data Service
{% endblock %} -->

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back to search page</a>
{% endblock %}

{% block content %}

{% block carheader %}
{% include "includes/carheader-mobile.html" %}
{% endblock %}

<br>

    <div class="govuk-grid-row" id="menu">
  <div class="govuk-grid-column-full govuk-!-padding-3" style="background-color: black; color: white">
    <a href="./previous-keeper-menu-open#menu" class="govuk-link govuk-link--no-underline govuk-link--inverse">
    <strong>
      ⋁ &nbsp; Vehicle menu
    </strong>
    </a>
  </div>
</div>

<br>

        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-l">Previous registered keeper</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value" style="text-transform: uppercase">
                Sarah Philips
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Start date
              </dt>
              <dd class="govuk-summary-list__value">
                19/06/2016
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                End date
              </dt>
              <dd class="govuk-summary-list__value">
                09/03/2018
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value" style="text-transform: uppercase">
                72 Guild Street<br>London<br>SE23 6FH
              </dd>
            </div>
          </dl>
        </div>
    </div>

{% endblock %}
