<option value=""></option>
<option value="2-DOOR SALOON">2-DOOR SALOON</option>
<option value="3-DOOR SALOON">3-DOOR SALOON</option>
<option value="3-WHEELER CAR">3-WHEELER CAR</option>
<option value="3-WHEELER VAN">3-WHEELER VAN</option>
<option value="4-DOOR SALOON">4-DOOR SALOON</option>
<option value="5-DOOR SALOON">5-DOOR SALOON</option>
<option value="AGRIC MACHINE">AGRIC MACHINE</option>
<option value="AGRIC TRACTOR">AGRIC TRACTOR</option>
<option value="AIRPORT SUPPORT UNIT">AIRPORT SUPPORT UNIT</option>
<option value="AMBULANCE">AMBULANCE</option>
<option value="BOTTLE FLOAT">BOTTLE FLOAT</option>
<option value="BOX VAN">BOX VAN</option>
<option value="BREAKDOWN TRUCK">BREAKDOWN TRUCK</option>
<option value="BULLDOZER">BULLDOZER</option>
<option value="CAR TRANSPORTER">CAR TRANSPORTER</option>
<option value="CAR‑DERIVED VAN">CAR‑DERIVED VAN</option>
<option value="CESSPOOL EMPTIER">CESSPOOL EMPTIER</option>
<option value="COMBINATION">COMBINATION</option>
<option value="COMBINE HARVESTER">COMBINE HARVESTER</option>
<option value="CONCRETE MIXER">CONCRETE MIXER</option>
<option value="CONVERTIBLE">CONVERTIBLE</option>
<option value="COUPE">COUPE</option>
<option value="CRANE">CRANE</option>
<option value="CURTAIN SIDED">CURTAIN SIDED</option>
<option value="DOUBLE DECKER">DOUBLE DECKER</option>
<option value="DROPSIDE LORRY">DROPSIDE LORRY</option>
<option value="ESTATE">ESTATE</option>
<option value="FIRE ENGINE">FIRE ENGINE</option>
<option value="FITTED VAN">FITTED VAN</option>
<option value="FLAT LORRY">FLAT LORRY</option>
<option value="FORAGE HARVESTER">FORAGE HARVESTER</option>
<option value="FRONT DUMPER">FRONT DUMPER</option>
<option value="GLASS CARRIER">GLASS CARRIER</option>
<option value="GOODS">GOODS</option>
<option value="GRITTING VEHICLE">GRITTING VEHICLE</option>
<option value="HALF DECK">HALF DECK</option>
<option value="HARVESTER">HARVESTER</option>
<option value="HEARSE">HEARSE</option>
<option value="HEAVY TRACTOR">HEAVY TRACTOR</option>
<option value="HYDRAULIC EXCAVATOR">HYDRAULIC EXCAVATOR</option>
<option value="INSULATED VAN">INSULATED VAN</option>
<option value="INVALID VEHICLE">INVALID VEHICLE</option>
<option value="LIFT TRUCK">LIFT TRUCK</option>
<option value="LIGHT 4 x 4 UTILITY">LIGHT 4 x 4 UTILITY</option>
<option value="LIGHT GOODS">LIGHT GOODS</option>
<option value="LIGHT VAN">LIGHT VAN</option>
<option value="LIMOUSINE">LIMOUSINE</option>
<option value="LINE PAINTER">LINE PAINTER</option>
<option value="LIVESTOCK CARRIER">LIVESTOCK CARRIER</option>
<option value="LOADING SHOVEL">LOADING SHOVEL</option>
<option value="LORRY">LORRY</option>
<option value="LOW LOADER">LOW LOADER</option>
<option value="LUTON VAN">LUTON VAN</option>
<option value="M/C COMBINATION">M/C COMBINATION</option>
<option value="MINIBUS">MINIBUS</option>
<option value="MOBILE PLANT">MOBILE PLANT</option>
<option value="MOBILE PUMP">MOBILE PUMP</option>
<option value="MOPED">MOPED</option>
<option value="MOTOR CARAVAN">MOTOR CARAVAN</option>
<option value="MOTORCYCLE">MOTORCYCLE</option>
<option value="MOWING MACHINE">MOWING MACHINE</option>
<option value="MPV (MULTI-PURPOSE VEHICLE)">MPV (MULTI-PURPOSE VEHICLE)</option>
<option value="NON‑STANDARD">NON‑STANDARD</option>
<option value="NOT RECORDED">NOT RECORDED</option>
<option value="PANEL VAN">PANEL VAN</option>
<option value="PANTECHNICON">PANTECHNICON</option>
<option value="PCV (PEDESTRIAN CONTROLLED)">PCV (PEDESTRIAN CONTROLLED)</option>
<option value="PICK‑UP">PICK‑UP</option>
<option value="REAR DIGGER">REAR DIGGER</option>
<option value="REFUSE DISPOSAL">REFUSE DISPOSAL</option>
<option value="ROAD STRIPPER">ROAD STRIPPER</option>
<option value="ROAD SURFACER">ROAD SURFACER</option>
<option value="ROAD TESTING">ROAD TESTING</option>
<option value="ROLLER">ROLLER</option>
<option value="ROOT CROP HARVESTER">ROOT CROP HARVESTER</option>
<option value="SALOON">SALOON</option>
<option value="SCOOTER">SCOOTER</option>
<option value="SCOOTER COMBINATION">SCOOTER COMBINATION</option>
<option value="SINGLE DECKER">SINGLE DECKER</option>
<option value="SKELETAL GOODS">SKELETAL GOODS</option>
<option value="SKIP LOADER">SKIP LOADER</option>
<option value="SNOW PLOUGH">SNOW PLOUGH</option>
<option value="SOLID BULK CARRIER">SOLID BULK CARRIER</option>
<option value="SPECIAL MOBILE UNIT">SPECIAL MOBILE UNIT</option>
<option value="SPECIAL PURPOSE">SPECIAL PURPOSE</option>
<option value="SPORTS">SPORTS</option>
<option value="SPRAYER">SPRAYER</option>
<option value="STANDEE BUS">STANDEE BUS</option>
<option value="STATION TRACTOR">STATION TRACTOR</option>
<option value="STREET CLEANSING">STREET CLEANSING</option>
<option value="TANKER">TANKER</option>
<option value="TAR SPRAYER">TAR SPRAYER</option>
<option value="TAXI">TAXI</option>
<option value="TEL MATERIAL HANDLER">TEL MATERIAL HANDLER</option>
<option value="TIPPER">TIPPER</option>
<option value="TOURER">TOURER</option>
<option value="TOWER WAGON">TOWER WAGON</option>
<option value="TRACTOR EXCAVATOR">TRACTOR EXCAVATOR</option>
<option value="TRUCK">TRUCK</option>
<option value="VAN">VAN</option>
<option value="VAN/SIDE WINDOWS">VAN/SIDE WINDOWS</option>
<option value="VINER/PICKER">VINER/PICKER</option>
<option value="WINDROWER">WINDROWER</option>
