<div class="govuk-grid-row">
  <div class="govuk-!-margin-bottom-0 govuk-!-padding-right-4"><strong class="govuk-tag govuk-!-width-full">Police record</strong></div>
</div>
<div class="govuk-grid-row govuk-!-padding-left-0 govuk-!-padding-right-0 govuk-!-padding-bottom-2 govuk-!-padding-top-3" style="background-color: white; border-bottom: 4px solid #d4351c">

    <div class="mobile-tags govuk-!-margin-bottom-3">
      <strong class="govuk-tag govuk-tag--red" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #942514">
      Hazards
      </strong>
      <strong class="govuk-tag govuk-tag--red" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #942514">
      Lost/Stolen
      </strong>
    </div>

      <div class="govuk-grid-column-three-quarters">
          <div class="govuk-grid-column-one-quarter">
            <a href="./overview-1a" target="_blank" class="govuk-heading-l govuk-link govuk-link--no-visited-state govuk-link--no-underline">SG 19705</a>
          </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0">Make/model</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2 ">BMW(CARS), X5 SPORT</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0">Colour</p>
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2" style="text-transform: uppercase">Blue</p>
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body govuk-!-margin-bottom-0">Registered keeper</p>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2" style="text-transform: uppercase">Bob Salmon</p>
      </div>

  </div>



<hr class="govuk-section-break govuk-section-break--m">
