<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Policy holder
      </dt>
      <dd class="govuk-summary-list__value" style="text-transform: uppercase">
          <a href="./name-links/search-drivers" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Bob Salmon</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Insured from
      </dt>
      <dd class="govuk-summary-list__value">
          11/05/2022 00:00
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Insured to
      </dt>
      <dd class="govuk-summary-list__value">
          10/05/2023 10:59
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Policy address
      </dt>
      <dd class="govuk-summary-list__value" style="text-transform: uppercase">
        72 Guild Street<br>London<br>SE23 6FH
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Allowed to drive other vehicles
      </dt>
      <dd class="govuk-summary-list__value" style="text-transform: uppercase">
        Yes
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Class of use
      </dt>
      <dd class="govuk-summary-list__value" style="text-transform: uppercase">
        Social domestic & pleasure
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Company details
      </dt>
      <dd class="govuk-summary-list__value" style="text-transform: uppercase">
        Angler Motor Insurance Ltd - 02063331234
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        VRM
      </dt>
      <dd class="govuk-summary-list__value">
        CF60 POP
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Vehicle make & model
      </dt>
      <dd class="govuk-summary-list__value" style="text-transform: uppercase">
        Mercedes Benz, C-Class
      </dd>
    </div>
  </dl>
</div>

<div class="govuk-grid-column-one-third" style="background-color: white; border: 1px solid #b1b4b6;">
  <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-1">Permitted drivers</h3>
  <p class="govuk-body">
    ANY DRIVERS - EXCLUDING DRIVERS UNDER 21
  <p>
  <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-1">Included named drivers</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">FRED SALMON</a><br>
    Date of birth: 10/06/1968</li>
    <li><a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">KATE SALMON</a><br>
    Date of birth: 21/03/1999</li>
    </ul>
  <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-1">Excluded named drivers</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>None</li>
    </ul>
    <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-1">Extra named drivers </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>None (Included or Excluded)</li>
    </ul>


</div>
</div>
