<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Policy holder
    </dt>
    <dd class="govuk-summary-list__value" style="text-transform: uppercase">
        Bob Salmon
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Insured from
    </dt>
    <dd class="govuk-summary-list__value">
        11/03/2020 00:00
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Insured to
    </dt>
    <dd class="govuk-summary-list__value">
        10/03/2021 23:59
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Policy address
    </dt>
    <dd class="govuk-summary-list__value" style="text-transform: uppercase">
      72 Guild Street<br>London<br>SE23 6FH
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Allowed to drive other vehicles
    </dt>
    <dd class="govuk-summary-list__value" style="text-transform: uppercase">
      No
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Included drivers
    </dt>
    <dd class="govuk-summary-list__value">
      KATE SALMON<br>
      Date of birth: 21/03/1999
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Excluded drivers
    </dt>
    <dd class="govuk-summary-list__value">
      None
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Extra drivers
    </dt>
    <dd class="govuk-summary-list__value">
      None (Included or Excluded)
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Class of use
    </dt>
    <dd class="govuk-summary-list__value" style="text-transform: uppercase">
      Social domestic & pleasure
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Company details
    </dt>
    <dd class="govuk-summary-list__value" style="text-transform: uppercase">
      Angler Motor Insurance Ltd - 02063331234
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Vehicle Registration Mark (VRM)
    </dt>
    <dd class="govuk-summary-list__value">
      CF04 DPK
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Vehicle make & model
    </dt>
    <dd class="govuk-summary-list__value" style="text-transform: uppercase">
      Mercedes Benz, C-Class
    </dd>
  </div>
</dl>
