<option value=""></option>
<option value="ABARTH">ABARTH</option>
<option value="AC">AC</option>
<option value="AC(ELECTRIC)">AC(ELECTRIC)</option>
<option value="ACCESS">ACCESS</option>
<option value="ACURA">ACURA</option>
<option value="ADLY">ADLY</option>
<option value="ADRIA">ADRIA</option>
<option value="AEBI">AEBI</option>
<option value="AEON">AEON</option>
<option value="AGCO ALLIS">AGCO ALLIS</option>
<option value="AIE">AIE</option>
<option value="AIXAM">AIXAM</option>
<option value="AJP">AJP</option>
<option value="AJS">AJS</option>
<option value="ALBION">ALBION</option>
<option value="ALEXANDER DENNIS">ALEXANDER DENNIS</option>
<option value="ALFA ROMEO">ALFA ROMEO</option>
<option value="ALFER">ALFER</option>
<option value="ALKE">ALKE</option>
<option value="ALL WHEEL DRIVE">ALL WHEEL DRIVE</option>
<option value="ALPINE">ALPINE</option>
<option value="APEX">APEX</option>
<option value="APPLIED SWEEPER">APPLIED SWEEPER</option>
<option value="APRILIA">APRILIA</option>
<option value="ARIIC">ARIIC</option>
<option value="ARIX ROTARY">ARIX ROTARY</option>
<option value="ARO">ARO</option>
<option value="ARRIVAL">ARRIVAL</option>
<option value="ARTISAN">ARTISAN</option>
<option value="ASIA">ASIA</option>
<option value="ASKOLL">ASKOLL</option>
<option value="ASQUITH">ASQUITH</option>
<option value="ASTON MARTIN">ASTON MARTIN</option>
<option value="ATALA">ATALA</option>
<option value="ATKINSON(SEDDON)">ATKINSON(SEDDON)</option>
<option value="ATLAS">ATLAS</option>
<option value="AUDI">AUDI</option>
<option value="AUSTIN">AUSTIN</option>
<option value="AUSTIN HEALEY">AUSTIN HEALEY</option>
<option value="AUSTIN MORRIS">AUSTIN MORRIS</option>
<option value="AUSTINMORRIS(CV)">AUSTINMORRIS(CV)</option>
<option value="AUTO-TRAIL">AUTO-TRAIL</option>
<option value="AUTOSAN">AUTOSAN</option>
<option value="AVANTI">AVANTI</option>
<option value="AVELING BARFORD">AVELING BARFORD</option>
<option value="AVIA">AVIA</option>
<option value="AXR">AXR</option>
<option value="BABETTA">BABETTA</option>
<option value="BAIMO">BAIMO</option>
<option value="BAJAJ">BAJAJ</option>
<option value="BAOTIAN">BAOTIAN</option>
<option value="BARON">BARON</option>
<option value="BARONI">BARONI</option>
<option value="BAROSSA">BAROSSA</option>
<option value="BASHAN">BASHAN</option>
<option value="BATAVUS">BATAVUS</option>
<option value="BATTISTINIS">BATTISTINIS</option>
<option value="BAVARIA">BAVARIA</option>
<option value="BCS">BCS</option>
<option value="BD">BD</option>
<option value="BEDFORD">BEDFORD</option>
<option value="BEELINE">BEELINE</option>
<option value="BELARUS">BELARUS</option>
<option value="BENELLI">BENELLI</option>
<option value="BENFORD">BENFORD</option>
<option value="BENTLEY">BENTLEY</option>
<option value="BENYE">BENYE</option>
<option value="BETA">BETA</option>
<option value="BETTER">BETTER</option>
<option value="BILIS">BILIS</option>
<option value="BIMOTA">BIMOTA</option>
<option value="BITELLI">BITELLI</option>
<option value="BLATA">BLATA</option>
<option value="BLAW KNOX">BLAW KNOX</option>
<option value="BLUESHARK">BLUESHARK</option>
<option value="BLUROC MOTORCYCLES">BLUROC MOTORCYCLES</option>
<option value="BMC">BMC</option>
<option value="BMW(CARS)">BMW(CARS)</option>
<option value="BMW(M/CYCLES)">BMW(M/CYCLES)</option>
<option value="BOB CAT">BOB CAT</option>
<option value="BOMAG">BOMAG</option>
<option value="BOMBARDIER">BOMBARDIER</option>
<option value="BOND">BOND</option>
<option value="BONSER">BONSER</option>
<option value="BOOM">BOOM</option>
<option value="BOVA">BOVA</option>
<option value="BRA">BRA</option>
<option value="BRANSON">BRANSON</option>
<option value="BREMACH">BREMACH</option>
<option value="BRISTOL">BRISTOL</option>
<option value="BRISTOL(BLMC)">BRISTOL(BLMC)</option>
<option value="BRIT JEFFREY DIA">BRIT JEFFREY DIA</option>
<option value="BRIT. TRACKSTAR">BRIT. TRACKSTAR</option>
<option value="BRIXTON">BRIXTON</option>
<option value="BRP">BRP</option>
<option value="BSA">BSA</option>
<option value="BSA (N)">BSA (N)</option>
<option value="BTM">BTM</option>
<option value="BUCHER">BUCHER</option>
<option value="BUELL">BUELL</option>
<option value="BUGATTI">BUGATTI</option>
<option value="BUICK">BUICK</option>
<option value="BULLIT">BULLIT</option>
<option value="BULLIT MOTORCYCLES">BULLIT MOTORCYCLES</option>
<option value="BULTACO">BULTACO</option>
<option value="BULTACO(O)">BULTACO(O)</option>
<option value="BURSTNER">BURSTNER</option>
<option value="BYD">BYD</option>
<option value="BZR">BZR</option>
<option value="CADILLAC">CADILLAC</option>
<option value="CAETANO">CAETANO</option>
<option value="CAGIVA">CAGIVA</option>
<option value="CAKE">CAKE</option>
<option value="CAN-AM">CAN-AM</option>
<option value="CAOFEN">CAOFEN</option>
<option value="CAPRI">CAPRI</option>
<option value="CARADO">CARADO</option>
<option value="CARBODIES">CARBODIES</option>
<option value="CASAL">CASAL</option>
<option value="CASE(INTL)">CASE(INTL)</option>
<option value="CASE(UK)">CASE(UK)</option>
<option value="CATERHAM">CATERHAM</option>
<option value="CATERPILLAR">CATERPILLAR</option>
<option value="CCM">CCM</option>
<option value="CCS">CCS</option>
<option value="CECTEK">CECTEK</option>
<option value="CELCO PROFIL">CELCO PROFIL</option>
<option value="CENNTRO">CENNTRO</option>
<option value="CFMOTO(M/CYCLES)">CFMOTO(M/CYCLES)</option>
<option value="CFMOTO(QUADBIKE)">CFMOTO(QUADBIKE)</option>
<option value="CH RACING">CH RACING</option>
<option value="CHAMP">CHAMP</option>
<option value="CHANG MING">CHANG MING</option>
<option value="CHARGE">CHARGE</option>
<option value="CHAUSSON">CHAUSSON</option>
<option value="CHEVROLET">CHEVROLET</option>
<option value="CHEVROLET GMC">CHEVROLET GMC</option>
<option value="CHITUMA">CHITUMA</option>
<option value="CHONGQING">CHONGQING</option>
<option value="CHRYSLER(AUS/US)">CHRYSLER(AUS/US)</option>
<option value="CHRYSLER(FRANCE)">CHRYSLER(FRANCE)</option>
<option value="CHRYSLER(UK)">CHRYSLER(UK)</option>
<option value="CHUANL">CHUANL</option>
<option value="CHUNLAN">CHUNLAN</option>
<option value="CI MOTORHOME">CI MOTORHOME</option>
<option value="CITROEN">CITROEN</option>
<option value="CKR">CKR</option>
<option value="CLAAS">CLAAS</option>
<option value="CLARK">CLARK</option>
<option value="CLASSIC CUSTOM">CLASSIC CUSTOM</option>
<option value="CLASSIC REPLICAS">CLASSIC REPLICAS</option>
<option value="CLAYTON">CLAYTON</option>
<option value="COLEMAN MILNE">COLEMAN MILNE</option>
<option value="COLT">COLT</option>
<option value="COMMER">COMMER</option>
<option value="COOPOP">COOPOP</option>
<option value="CORVETTE">CORVETTE</option>
<option value="COSSACK">COSSACK</option>
<option value="COUNTY COMM CARS">COUNTY COMM CARS</option>
<option value="COVENTRY CLIMAX">COVENTRY CLIMAX</option>
<option value="CPI">CPI</option>
<option value="CROMPTON-LEYLAND">CROMPTON-LEYLAND</option>
<option value="CSR">CSR</option>
<option value="CTM">CTM</option>
<option value="CUPRA">CUPRA</option>
<option value="CZ">CZ</option>
<option value="DACIA">DACIA</option>
<option value="DAELIM">DAELIM</option>
<option value="DAEWOO">DAEWOO</option>
<option value="DAF TRUCKS">DAF TRUCKS</option>
<option value="DAF(HOLLAND)">DAF(HOLLAND)</option>
<option value="DAIFO">DAIFO</option>
<option value="DAIHATSU">DAIHATSU</option>
<option value="DAIMLER">DAIMLER</option>
<option value="DAJIANG">DAJIANG</option>
<option value="DATSUN">DATSUN</option>
<option value="DAVID BROWN">DAVID BROWN</option>
<option value="DAYANG">DAYANG</option>
<option value="DAYI MOTOR">DAYI MOTOR</option>
<option value="DAYUN">DAYUN</option>
<option value="DE TOMASO">DE TOMASO</option>
<option value="DEMM">DEMM</option>
<option value="DENNIS">DENNIS</option>
<option value="DENNIS FIRE">DENNIS FIRE</option>
<option value="DERBI">DERBI</option>
<option value="DETHLEFFS">DETHLEFFS</option>
<option value="DEUTZ FAHR">DEUTZ FAHR</option>
<option value="DFSK">DFSK</option>
<option value="DI BLASI">DI BLASI</option>
<option value="DINLI">DINLI</option>
<option value="DIRT PRO">DIRT PRO</option>
<option value="DODGE">DODGE</option>
<option value="DODGE(FRANCE)">DODGE(FRANCE)</option>
<option value="DODGE(UK)">DODGE(UK)</option>
<option value="DOOHAN">DOOHAN</option>
<option value="DOUGLAS">DOUGLAS</option>
<option value="DS">DS</option>
<option value="DUCATI">DUCATI</option>
<option value="DUKAR">DUKAR</option>
<option value="DUPLE">DUPLE</option>
<option value="E-MAX">E-MAX</option>
<option value="EAGLE">EAGLE</option>
<option value="EASY RIDER (M/C)">EASY RIDER (M/C)</option>
<option value="EBRO">EBRO</option>
<option value="ECO">ECO</option>
<option value="ECO NECO">ECO NECO</option>
<option value="ECOOTER">ECOOTER</option>
<option value="EFUN">EFUN</option>
<option value="EGO">EGO</option>
<option value="ELECTRIC MOTION">ELECTRIC MOTION</option>
<option value="ELECTRICARS">ELECTRICARS</option>
<option value="ENERGICA">ENERGICA</option>
<option value="ENTERPRISE BUS">ENTERPRISE BUS</option>
<option value="EOS">EOS</option>
<option value="EPC">EPC</option>
<option value="ERF">ERF</option>
<option value="ERIDER">ERIDER</option>
<option value="ERIK BUELL RCING">ERIK BUELL RCING</option>
<option value="ETON">ETON</option>
<option value="ETRUSCO">ETRUSCO</option>
<option value="EUCLID">EUCLID</option>
<option value="EUROLINER">EUROLINER</option>
<option value="EUROTRAC">EUROTRAC</option>
<option value="EVT">EVT</option>
<option value="EXPLORER">EXPLORER</option>
<option value="FACTORY">FACTORY</option>
<option value="FANTIC MOTOR">FANTIC MOTOR</option>
<option value="FARBOUD">FARBOUD</option>
<option value="FEIYING">FEIYING</option>
<option value="FENDT">FENDT</option>
<option value="FERRARI">FERRARI</option>
<option value="FIAT">FIAT</option>
<option value="FMC">FMC</option>
<option value="FODEN">FODEN</option>
<option value="FORD NEW HOLLAND">FORD NEW HOLLAND</option>
<option value="FORD(EUROPE)">FORD(EUROPE)</option>
<option value="FORD(UK)">FORD(UK)</option>
<option value="FORD(US/CAN/AUS)">FORD(US/CAN/AUS)</option>
<option value="FORDSON">FORDSON</option>
<option value="FOREST RIVER">FOREST RIVER</option>
<option value="FOSTI">FOSTI</option>
<option value="FREIGHT ROVER">FREIGHT ROVER</option>
<option value="FSO CARS">FSO CARS</option>
<option value="FUTONG">FUTONG</option>
<option value="FYM">FYM</option>
<option value="GAMAX">GAMAX</option>
<option value="GARELLI">GARELLI</option>
<option value="GAS GAS">GAS GAS</option>
<option value="GEELY">GEELY</option>
<option value="GEM">GEM</option>
<option value="GENERIC">GENERIC</option>
<option value="GENESIS">GENESIS</option>
<option value="GIANTCO">GIANTCO</option>
<option value="GILERA">GILERA</option>
<option value="GINETTA">GINETTA</option>
<option value="GLOBAL ELEC MTRS">GLOBAL ELEC MTRS</option>
<option value="GO-KART">GO-KART</option>
<option value="GOKA">GOKA</option>
<option value="GOODYEAR">GOODYEAR</option>
<option value="GOUPIL">GOUPIL</option>
<option value="GOVECS">GOVECS</option>
<option value="GPX">GPX</option>
<option value="GREAT WALL">GREAT WALL</option>
<option value="GREEVES">GREEVES</option>
<option value="GRINNALL">GRINNALL</option>
<option value="GROVE COLES">GROVE COLES</option>
<option value="GSMOON">GSMOON</option>
<option value="GUY">GUY</option>
<option value="GWM ORA">GWM ORA</option>
<option value="HAKO">HAKO</option>
<option value="HAMMERHEAD">HAMMERHEAD</option>
<option value="HANWAY">HANWAY</option>
<option value="HAOTIAN">HAOTIAN</option>
<option value="HARBILT ELECTRIC">HARBILT ELECTRIC</option>
<option value="HARLEY DAVIDSON">HARLEY DAVIDSON</option>
<option value="HARTFORD">HARTFORD</option>
<option value="HERALD">HERALD</option>
<option value="HERALD MTR COMP">HERALD MTR COMP</option>
<option value="HERCHE">HERCHE</option>
<option value="HERO PUCH">HERO PUCH</option>
<option value="HERTFORD">HERTFORD</option>
<option value="HIGER">HIGER</option>
<option value="HILLMAN">HILLMAN</option>
<option value="HIMO">HIMO</option>
<option value="HINO">HINO</option>
<option value="HOLDEN">HOLDEN</option>
<option value="HONCHING">HONCHING</option>
<option value="HONDA(CARS)">HONDA(CARS)</option>
<option value="HONDA(M/CYCLES)">HONDA(M/CYCLES)</option>
<option value="HONDA(UK)">HONDA(UK)</option>
<option value="HONGDOU">HONGDOU</option>
<option value="HONGYANG">HONGYANG</option>
<option value="HONGYI">HONGYI</option>
<option value="HONLEY">HONLEY</option>
<option value="HORWIN">HORWIN</option>
<option value="HSUN">HSUN</option>
<option value="HUASHA">HUASHA</option>
<option value="HUATIAN">HUATIAN</option>
<option value="HUMBER">HUMBER</option>
<option value="HUMMER">HUMMER</option>
<option value="HUONIAO">HUONIAO</option>
<option value="HURLIMANN">HURLIMANN</option>
<option value="HUSABERG">HUSABERG</option>
<option value="HUSQVARNA">HUSQVARNA</option>
<option value="HY-MAC LTD">HY-MAC LTD</option>
<option value="HYMER">HYMER</option>
<option value="HYOSUNG">HYOSUNG</option>
<option value="HYSTER">HYSTER</option>
<option value="HYUNDAI">HYUNDAI</option>
<option value="INDCAR">INDCAR</option>
<option value="INDIAN">INDIAN</option>
<option value="INEOS">INEOS</option>
<option value="INFINITI">INFINITI</option>
<option value="INT HARVESTER">INT HARVESTER</option>
<option value="INVACAR">INVACAR</option>
<option value="IRIS BUS">IRIS BUS</option>
<option value="IRIZAR">IRIZAR</option>
<option value="ISEKI">ISEKI</option>
<option value="ISUZU">ISUZU</option>
<option value="ISUZU TRUCKS">ISUZU TRUCKS</option>
<option value="ISUZU(TURKEY)">ISUZU(TURKEY)</option>
<option value="ITALJET">ITALJET</option>
<option value="ITINEO">ITINEO</option>
<option value="IVECO(GERMANY)">IVECO(GERMANY)</option>
<option value="IVECO(ITALY)">IVECO(ITALY)</option>
<option value="IVECO-FORD(GERM)">IVECO-FORD(GERM)</option>
<option value="IVECO-FORD(ITAL)">IVECO-FORD(ITAL)</option>
<option value="IVECO-FORD(SPAIN">IVECO-FORD(SPAIN</option>
<option value="IVECO-FORD(UK)">IVECO-FORD(UK)</option>
<option value="JACOBSEN">JACOBSEN</option>
<option value="JAGUAR">JAGUAR</option>
<option value="JAMES">JAMES</option>
<option value="JAWA">JAWA</option>
<option value="JAXIN">JAXIN</option>
<option value="JCB">JCB</option>
<option value="JCM">JCM</option>
<option value="JEEP">JEEP</option>
<option value="JENSEN">JENSEN</option>
<option value="JIAJUE">JIAJUE</option>
<option value="JIALING">JIALING</option>
<option value="JIANSHE">JIANSHE</option>
<option value="JINCHENG">JINCHENG</option>
<option value="JINLUN">JINLUN</option>
<option value="JM STAR">JM STAR</option>
<option value="JOHN ALLEN">JOHN ALLEN</option>
<option value="JOHN DEERE">JOHN DEERE</option>
<option value="JOHNSTONSWEEPERS">JOHNSTONSWEEPERS</option>
<option value="JONWAY">JONWAY</option>
<option value="JORDAN">JORDAN</option>
<option value="JUNGHEINRICH">JUNGHEINRICH</option>
<option value="KAISAR">KAISAR</option>
<option value="KANGDA">KANGDA</option>
<option value="KANUNI">KANUNI</option>
<option value="KARRIER">KARRIER</option>
<option value="KASEA">KASEA</option>
<option value="KASSBOHRER">KASSBOHRER</option>
<option value="KATO">KATO</option>
<option value="KAWASAKI">KAWASAKI</option>
<option value="KAWATA">KAWATA</option>
<option value="KAZUMA">KAZUMA</option>
<option value="KEEN">KEEN</option>
<option value="KEEWAY">KEEWAY</option>
<option value="KIA">KIA</option>
<option value="KIDEN">KIDEN</option>
<option value="KINETIC">KINETIC</option>
<option value="KING LONG">KING LONG</option>
<option value="KINGTON">KINGTON</option>
<option value="KINLON">KINLON</option>
<option value="KINROAD">KINROAD</option>
<option value="KIOTI">KIOTI</option>
<option value="KNAUS">KNAUS</option>
<option value="KOLLTER">KOLLTER</option>
<option value="KOMATSU">KOMATSU</option>
<option value="KSR MOTO">KSR MOTO</option>
<option value="KTM">KTM</option>
<option value="KTM(C)">KTM(C)</option>
<option value="KUBOTA">KUBOTA</option>
<option value="KYMCO">KYMCO</option>
<option value="LADA">LADA</option>
<option value="LAMBORGHINI">LAMBORGHINI</option>
<option value="LAMBRETTA">LAMBRETTA</option>
<option value="LANCIA">LANCIA</option>
<option value="LAND ROVER">LAND ROVER</option>
<option value="LANDINI">LANDINI</option>
<option value="LANSING LINDE">LANSING LINDE</option>
<option value="LAVERDA">LAVERDA</option>
<option value="LDV">LDV</option>
<option value="LE VOYAGEUR">LE VOYAGEUR</option>
<option value="LEEWAY">LEEWAY</option>
<option value="LEIKE">LEIKE</option>
<option value="LEVC">LEVC</option>
<option value="LEXMOTO">LEXMOTO</option>
<option value="LEXUS">LEXUS</option>
<option value="LEYLAND">LEYLAND</option>
<option value="LEYLAND AEC">LEYLAND AEC</option>
<option value="LEYLAND AM">LEYLAND AM</option>
<option value="LEYLAND CARS">LEYLAND CARS</option>
<option value="LEYLAND DAF">LEYLAND DAF</option>
<option value="LEYLAND DAF(HOL)">LEYLAND DAF(HOL)</option>
<option value="LEYLAND NATIONAL">LEYLAND NATIONAL</option>
<option value="LEYLAND REDLINE">LEYLAND REDLINE</option>
<option value="LEYLAND SCOTSTON">LEYLAND SCOTSTON</option>
<option value="LHY">LHY</option>
<option value="LIEBHERR">LIEBHERR</option>
<option value="LIFAN">LIFAN</option>
<option value="LIGIER(CARS)">LIGIER(CARS)</option>
<option value="LIGIER(M/CYCLES)">LIGIER(M/CYCLES)</option>
<option value="LINCOLN">LINCOLN</option>
<option value="LINER">LINER</option>
<option value="LINHAI">LINHAI</option>
<option value="LINMAX">LINMAX</option>
<option value="LML">LML</option>
<option value="LMX BIKES">LMX BIKES</option>
<option value="LONCIN">LONCIN</option>
<option value="LONDON TAXIS INT">LONDON TAXIS INT</option>
<option value="LONGJIA">LONGJIA</option>
<option value="LONSDALE">LONSDALE</option>
<option value="LOTUS">LOTUS</option>
<option value="LUCKY">LUCKY</option>
<option value="LVNENG">LVNENG</option>
<option value="LVTONG">LVTONG</option>
<option value="MAEVING">MAEVING</option>
<option value="MAGIRUS DEUTZ">MAGIRUS DEUTZ</option>
<option value="MAGNI">MAGNI</option>
<option value="MAHINDRA">MAHINDRA</option>
<option value="MALAGUTI">MALAGUTI</option>
<option value="MAN(TRUCKS)">MAN(TRUCKS)</option>
<option value="MAN/VW">MAN/VW</option>
<option value="MANET PUCH">MANET PUCH</option>
<option value="MANITOU">MANITOU</option>
<option value="MARCOS">MARCOS</option>
<option value="MARSHALL">MARSHALL</option>
<option value="MARTIN CONQUEST">MARTIN CONQUEST</option>
<option value="MASAI">MASAI</option>
<option value="MASERATI">MASERATI</option>
<option value="MASH">MASH</option>
<option value="MASSEY FERGUSON">MASSEY FERGUSON</option>
<option value="MATBRO">MATBRO</option>
<option value="MATCHLESS">MATCHLESS</option>
<option value="MATHIEU">MATHIEU</option>
<option value="MAXUS">MAXUS</option>
<option value="MAXUS(M/CYCLES)">MAXUS(M/CYCLES)</option>
<option value="MAYBACH">MAYBACH</option>
<option value="MAZDA">MAZDA</option>
<option value="MBK">MBK</option>
<option value="MCC">MCC</option>
<option value="MCCORMICK">MCCORMICK</option>
<option value="MCCORMICK(O)">MCCORMICK(O)</option>
<option value="MCLAREN">MCLAREN</option>
<option value="MCW">MCW</option>
<option value="MEGELLI">MEGELLI</option>
<option value="MELLOR">MELLOR</option>
<option value="MERCEDES">MERCEDES</option>
<option value="MERCURY">MERCURY</option>
<option value="MERLO">MERLO</option>
<option value="METROCAB">METROCAB</option>
<option value="MG">MG</option>
<option value="MG XPOWER">MG XPOWER</option>
<option value="MGB">MGB</option>
<option value="MH MOTORCYCLES">MH MOTORCYCLES</option>
<option value="MIA">MIA</option>
<option value="MICROCAR">MICROCAR</option>
<option value="MIG">MIG</option>
<option value="MINI">MINI</option>
<option value="MITSUBISHI">MITSUBISHI</option>
<option value="MITSUBISHI FUSO">MITSUBISHI FUSO</option>
<option value="MITSUBISHI(V)">MITSUBISHI(V)</option>
<option value="MITSUBISHI(VOLV)">MITSUBISHI(VOLV)</option>
<option value="MOBILVETTA">MOBILVETTA</option>
<option value="MOBYLETTE">MOBYLETTE</option>
<option value="MODEC">MODEC</option>
<option value="MODENAS">MODENAS</option>
<option value="MOFFETT">MOFFETT</option>
<option value="MOKE AUTOMOBILI">MOKE AUTOMOBILI</option>
<option value="MONDIAL">MONDIAL</option>
<option value="MONIKA">MONIKA</option>
<option value="MONTESA">MONTESA</option>
<option value="MORGAN">MORGAN</option>
<option value="MORINI">MORINI</option>
<option value="MORRIS">MORRIS</option>
<option value="MOSKVICH">MOSKVICH</option>
<option value="MOTO AUPA">MOTO AUPA</option>
<option value="MOTO GUZZI">MOTO GUZZI</option>
<option value="MOTO MORINI">MOTO MORINI</option>
<option value="MOTO ROMA">MOTO ROMA</option>
<option value="MOTO ZETA">MOTO ZETA</option>
<option value="MOTOBECANE">MOTOBECANE</option>
<option value="MOTOBI">MOTOBI</option>
<option value="MOTOMEL">MOTOMEL</option>
<option value="MOTOR HISPANIA">MOTOR HISPANIA</option>
<option value="MOTOR JIKOV">MOTOR JIKOV</option>
<option value="MOTORINI">MOTORINI</option>
<option value="MOTRON">MOTRON</option>
<option value="MOXY">MOXY</option>
<option value="MUIR-HILL">MUIR-HILL</option>
<option value="MULTIDRIVE">MULTIDRIVE</option>
<option value="MUTT">MUTT</option>
<option value="MV AGUSTA">MV AGUSTA</option>
<option value="MZ">MZ</option>
<option value="NECHT">NECHT</option>
<option value="NECO">NECO</option>
<option value="NEOPLAN">NEOPLAN</option>
<option value="NEVAL">NEVAL</option>
<option value="NEW HOLLAND">NEW HOLLAND</option>
<option value="NEW HOLLAND FIAT">NEW HOLLAND FIAT</option>
<option value="NFM">NFM</option>
<option value="NIESMAN+BISCHOFF">NIESMAN+BISCHOFF</option>
<option value="NIPPI">NIPPI</option>
<option value="NIPPONIA">NIPPONIA</option>
<option value="NISSAN(EUROPE)">NISSAN(EUROPE)</option>
<option value="NISSAN(JAPAN)">NISSAN(JAPAN)</option>
<option value="NISSAN(UK)">NISSAN(UK)</option>
<option value="NIU">NIU</option>
<option value="NOBLE">NOBLE</option>
<option value="NOOMA">NOOMA</option>
<option value="NORTON">NORTON</option>
<option value="NORTON VILL.TRIU">NORTON VILL.TRIU</option>
<option value="NORTON VILLIERS">NORTON VILLIERS</option>
<option value="NSU">NSU</option>
<option value="NUFFIELD">NUFFIELD</option>
<option value="OLDSMOBILE">OLDSMOBILE</option>
<option value="OPEL">OPEL</option>
<option value="OPTARE">OPTARE</option>
<option value="ORION">ORION</option>
<option value="OSSA">OSSA</option>
<option value="OUBAO">OUBAO</option>
<option value="OVER">OVER</option>
<option value="OXYGEN">OXYGEN</option>
<option value="PANTHER">PANTHER</option>
<option value="PAXSTER">PAXSTER</option>
<option value="PEGASO">PEGASO</option>
<option value="PENTA">PENTA</option>
<option value="PERODUA">PERODUA</option>
<option value="PEUGEOT(FRANCE)">PEUGEOT(FRANCE)</option>
<option value="PEUGEOT(MCYCLES)">PEUGEOT(MCYCLES)</option>
<option value="PEUGEOT(UK)">PEUGEOT(UK)</option>
<option value="PGO">PGO</option>
<option value="PHOENIX">PHOENIX</option>
<option value="PIAGGIO">PIAGGIO</option>
<option value="PIAGGIO(VANS)">PIAGGIO(VANS)</option>
<option value="PILOTE">PILOTE</option>
<option value="PINZGAUER">PINZGAUER</option>
<option value="PIONEER">PIONEER</option>
<option value="PLA">PLA</option>
<option value="PLYMOUTH">PLYMOUTH</option>
<option value="POCLAIN">POCLAIN</option>
<option value="POLARIS">POLARIS</option>
<option value="POLESTAR">POLESTAR</option>
<option value="POLSKI-FIAT">POLSKI-FIAT</option>
<option value="PONTIAC">PONTIAC</option>
<option value="POR">POR</option>
<option value="PORSCHE">PORSCHE</option>
<option value="PORTARO">PORTARO</option>
<option value="PRAGA">PRAGA</option>
<option value="PROTON">PROTON</option>
<option value="PS MOTOR MANET">PS MOTOR MANET</option>
<option value="PUCH">PUCH</option>
<option value="PULSE">PULSE</option>
<option value="QINGQI">QINGQI</option>
<option value="QUADRO">QUADRO</option>
<option value="QUADZILLA">QUADZILLA</option>
<option value="R-VISION">R-VISION</option>
<option value="RAIDER">RAIDER</option>
<option value="RALEIGH">RALEIGH</option>
<option value="RANSOME">RANSOME</option>
<option value="RAP">RAP</option>
<option value="RAPIDO">RAPIDO</option>
<option value="RAVO">RAVO</option>
<option value="REDROCK">REDROCK</option>
<option value="REGENT">REGENT</option>
<option value="RELIANT">RELIANT</option>
<option value="RENAULT TRUCKS">RENAULT TRUCKS</option>
<option value="RENAULT(AGRIC.)">RENAULT(AGRIC.)</option>
<option value="RENAULT(AGRIC)">RENAULT(AGRIC)</option>
<option value="RENAULT(FRANCE)">RENAULT(FRANCE)</option>
<option value="RENAULT(UK)">RENAULT(UK)</option>
<option value="RENEGADE">RENEGADE</option>
<option value="REVA">REVA</option>
<option value="REWACO">REWACO</option>
<option value="RHON">RHON</option>
<option value="RIEJU">RIEJU</option>
<option value="RILEY">RILEY</option>
<option value="ROADLESS">ROADLESS</option>
<option value="ROLLER TEAM">ROLLER TEAM</option>
<option value="ROLLS ROYCE">ROLLS ROYCE</option>
<option value="ROMET MOTORS">ROMET MOTORS</option>
<option value="ROVER">ROVER</option>
<option value="ROVIGO">ROVIGO</option>
<option value="ROYAL ALLOY">ROYAL ALLOY</option>
<option value="ROYAL ENFIELD">ROYAL ENFIELD</option>
<option value="SAAB">SAAB</option>
<option value="SACHS">SACHS</option>
<option value="SAITING">SAITING</option>
<option value="SAKURA">SAKURA</option>
<option value="SAME">SAME</option>
<option value="SAME">SAME</option>
<option value="SAN">SAN</option>
<option value="SANBEN">SANBEN</option>
<option value="SANILI">SANILI</option>
<option value="SANLI">SANLI</option>
<option value="SANTANA">SANTANA</option>
<option value="SANYA">SANYA</option>
<option value="SANYANG">SANYANG</option>
<option value="SAO">SAO</option>
<option value="SAVIEM">SAVIEM</option>
<option value="SAXON">SAXON</option>
<option value="SCAMMELL">SCAMMELL</option>
<option value="SCANIA">SCANIA</option>
<option value="SCARAB">SCARAB</option>
<option value="SCHMIDT">SCHMIDT</option>
<option value="SCOMADI">SCOMADI</option>
<option value="SCORPA">SCORPA</option>
<option value="SCUTUM">SCUTUM</option>
<option value="SD">SD</option>
<option value="SEAT">SEAT</option>
<option value="SECMA">SECMA</option>
<option value="SEDDON/ATKINSON">SEDDON/ATKINSON</option>
<option value="SEGWAY">SEGWAY</option>
<option value="SETRA">SETRA</option>
<option value="SFM">SFM</option>
<option value="SFMM">SFMM</option>
<option value="SHE LUNG">SHE LUNG</option>
<option value="SHENKE">SHENKE</option>
<option value="SHERCO">SHERCO</option>
<option value="SHIBAURA">SHIBAURA</option>
<option value="SHINERAY">SHINERAY</option>
<option value="SHIRE">SHIRE</option>
<option value="SIAMOTO">SIAMOTO</option>
<option value="SILENCE">SILENCE</option>
<option value="SIMCA">SIMCA</option>
<option value="SIMSON">SIMSON</option>
<option value="SINGER">SINGER</option>
<option value="SINNIS">SINNIS</option>
<option value="SINSKI">SINSKI</option>
<option value="SIROMER">SIROMER</option>
<option value="SITCAR">SITCAR</option>
<option value="SKODA">SKODA</option>
<option value="SKYGO">SKYGO</option>
<option value="SKYJET">SKYJET</option>
<option value="SKYTEAM">SKYTEAM</option>
<option value="SKYWING">SKYWING</option>
<option value="SLINGSHOT">SLINGSHOT</option>
<option value="SMART">SMART</option>
<option value="SMC">SMC</option>
<option value="SMITHS">SMITHS</option>
<option value="SONIK">SONIK</option>
<option value="SP MOTO">SP MOTO</option>
<option value="SSANGYONG">SSANGYONG</option>
<option value="STEYR">STEYR</option>
<option value="STOTHERT & PITT">STOTHERT & PITT</option>
<option value="STRATHCARRON">STRATHCARRON</option>
<option value="STROMER">STROMER</option>
<option value="STUART TAYLOR">STUART TAYLOR</option>
<option value="SUBARU">SUBARU</option>
<option value="SUKIDA">SUKIDA</option>
<option value="SUMOTO">SUMOTO</option>
<option value="SUNBEAM">SUNBEAM</option>
<option value="SUNDIRO">SUNDIRO</option>
<option value="SUNLIGHT">SUNLIGHT</option>
<option value="SUNRA">SUNRA</option>
<option value="SUPERBYKE">SUPERBYKE</option>
<option value="SUPERMOTO">SUPERMOTO</option>
<option value="SUR-RON">SUR-RON</option>
<option value="SURRON">SURRON</option>
<option value="SUZUKI(CARS)">SUZUKI(CARS)</option>
<option value="SUZUKI(M/CYCLES)">SUZUKI(M/CYCLES)</option>
<option value="SUZUKI(SPAIN)">SUZUKI(SPAIN)</option>
<option value="SUZUKI(UK)">SUZUKI(UK)</option>
<option value="SUZUKO">SUZUKO</option>
<option value="SWAP">SWAP</option>
<option value="SWITCH">SWITCH</option>
<option value="SWM">SWM</option>
<option value="SYM">SYM</option>
<option value="TAFE">TAFE</option>
<option value="TAISHAN">TAISHAN</option>
<option value="TAIWAN GOLDENBEE">TAIWAN GOLDENBEE</option>
<option value="TALARIA">TALARIA</option>
<option value="TALBOT(FRANCE)">TALBOT(FRANCE)</option>
<option value="TALBOT(ITALY)">TALBOT(ITALY)</option>
<option value="TALBOT(UK)">TALBOT(UK)</option>
<option value="TAM">TAM</option>
<option value="TAMORETTI">TAMORETTI</option>
<option value="TATA">TATA</option>
<option value="TAYAKO">TAYAKO</option>
<option value="TEC">TEC</option>
<option value="TEMSA">TEMSA</option>
<option value="TERBERG">TERBERG</option>
<option value="TESLA">TESLA</option>
<option value="THINK">THINK</option>
<option value="THUMPSTAR">THUMPSTAR</option>
<option value="THWAITES">THWAITES</option>
<option value="TIANJIN">TIANJIN</option>
<option value="TIANYING">TIANYING</option>
<option value="TIPPEN DELTA">TIPPEN DELTA</option>
<option value="TM">TM</option>
<option value="TOMOS(M/CYCLES)">TOMOS(M/CYCLES)</option>
<option value="TONG YANG">TONG YANG</option>
<option value="TORROT">TORROT</option>
<option value="TOYOTA(JAPAN)">TOYOTA(JAPAN)</option>
<option value="TOYOTA(UK)">TOYOTA(UK)</option>
<option value="TRANSBUS INT">TRANSBUS INT</option>
<option value="TRIGANO">TRIGANO</option>
<option value="TRIUMPH">TRIUMPH</option>
<option value="TRIUMPH(BLMC)">TRIUMPH(BLMC)</option>
<option value="TROMOX">TROMOX</option>
<option value="TRS">TRS</option>
<option value="TVR">TVR</option>
<option value="TYM">TYM</option>
<option value="UBCO">UBCO</option>
<option value="UGBEST">UGBEST</option>
<option value="UM">UM</option>
<option value="UMM">UMM</option>
<option value="UNIMOG">UNIMOG</option>
<option value="UNIVERSAL">UNIVERSAL</option>
<option value="UNIVERSAL">UNIVERSAL</option>
<option value="URAL">URAL</option>
<option value="URBAN">URBAN</option>
<option value="URSUS">URSUS</option>
<option value="URSUS">URSUS</option>
<option value="UVM">UVM</option>
<option value="VALMET">VALMET</option>
<option value="VALTRA">VALTRA</option>
<option value="VAN HOOL">VAN HOOL</option>
<option value="VANDEN PLAS">VANDEN PLAS</option>
<option value="VAUXHALL">VAUXHALL</option>
<option value="VDL">VDL</option>
<option value="VDL BOVA">VDL BOVA</option>
<option value="VECTRIX">VECTRIX</option>
<option value="VELOCETTE">VELOCETTE</option>
<option value="VELOSOLEX">VELOSOLEX</option>
<option value="VENTURI">VENTURI</option>
<option value="VERTEMATI">VERTEMATI</option>
<option value="VERTIGO">VERTIGO</option>
<option value="VESPA(DOUGLAS)">VESPA(DOUGLAS)</option>
<option value="VICTORY">VICTORY</option>
<option value="VMOTO">VMOTO</option>
<option value="VOGE">VOGE</option>
<option value="VOLGA">VOLGA</option>
<option value="VOLKSWAGEN">VOLKSWAGEN</option>
<option value="VOLVO">VOLVO</option>
<option value="VONROAD">VONROAD</option>
<option value="VOR">VOR</option>
<option value="VOXAN">VOXAN</option>
<option value="VULCAN">VULCAN</option>
<option value="W+E">W+E</option>
<option value="WANGYE">WANGYE</option>
<option value="WARRIOR">WARRIOR</option>
<option value="WARTBURG">WARTBURG</option>
<option value="WESTFIELD">WESTFIELD</option>
<option value="WHITE KNUCKLE">WHITE KNUCKLE</option>
<option value="WHITLOCK BROS">WHITLOCK BROS</option>
<option value="WINGATE + ROGERS">WINGATE + ROGERS</option>
<option value="WINGET">WINGET</option>
<option value="WK BIKES">WK BIKES</option>
<option value="WLIE">WLIE</option>
<option value="WOLSELEY">WOLSELEY</option>
<option value="WRIGHTBUS">WRIGHTBUS</option>
<option value="WUYANG">WUYANG</option>
<option value="X-SPORT">X-SPORT</option>
<option value="XGJAO">XGJAO</option>
<option value="XINGYUE">XINGYUE</option>
<option value="XINLING">XINLING</option>
<option value="XINTIAN">XINTIAN</option>
<option value="YADEA">YADEA</option>
<option value="YALE">YALE</option>
<option value="YAMAHA">YAMAHA</option>
<option value="YAMASAKI">YAMASAKI</option>
<option value="YAMATI">YAMATI</option>
<option value="YAMOTO">YAMOTO</option>
<option value="YANMAR">YANMAR</option>
<option value="YIBEN MEIDUO">YIBEN MEIDUO</option>
<option value="YINGANG">YINGANG</option>
<option value="YINHUA">YINHUA</option>
<option value="YIYING">YIYING</option>
<option value="YUAN">YUAN</option>
<option value="YUTONG">YUTONG</option>
<option value="Z Y MOTOR">Z Y MOTOR</option>
<option value="ZAP">ZAP</option>
<option value="ZASTAVA">ZASTAVA</option>
<option value="ZENNCO">ZENNCO</option>
<option value="ZENOS">ZENOS</option>
<option value="ZERO MOTORCYCLES">ZERO MOTORCYCLES</option>
<option value="ZETOR">ZETOR</option>
<option value="ZHENHUA">ZHENHUA</option>
<option value="ZHONGNENG">ZHONGNENG</option>
<option value="ZNEN">ZNEN</option>
<option value="ZONGSHEN">ZONGSHEN</option>
<option value="ZONTES">ZONTES</option>
