<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">Police reports</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Report type</th>
      <th scope="col" class="govuk-table__header">Notes</th>
      <th scope="col" class="govuk-table__header">Owner</th>
      <th scope="col" class="govuk-table__header">Created</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body" style="text-transform: uppercase">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="./reports-stolen" class="govuk-link">Lost/Stolen<br>(E34Y9340TY3293)</a></th>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #942514">
          Weapons
        </strong>
        <br>
        15/03/22 0500Hrs Vehicle stolen at gunpoint from Halfords, Brixton, SW9. Susp M, White, F508, Slim, wearing a black Nike hoodie. Consider firearms support. Contact PS John Doe, 02081237634 Force 01LX
      </td>
      <td class="govuk-table__cell">07A1</td>
      <td class="govuk-table__cell">15/03/2022 08:11</td>
    </tr>
  </tbody>
</table>
