<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    <div class="govuk-form-group govuk-!-margin-bottom-6">
      <label class="govuk-label govuk-label--s">
        PNC ID (Optional)
      </label>
      <input class="govuk-input govuk-input--width-10" id="pncid" name="pncid" type="text">
    </div>
  </fieldset>

<fieldset class="govuk-fieldset">
  <label class="govuk-label govuk-label--s">
    Warning signals (Optional)
  </label>
  <div id="passport-issued-hint" class="govuk-hint">
    You can select only up to 3 warning signals
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals" name="warning-signals" type="checkbox" value="AG">
          <label class="govuk-label govuk-checkboxes__label">
            AG - Alleges
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-3" name="warning-signals" type="checkbox" value="AT">
          <label class="govuk-label govuk-checkboxes__label">
            AT - Ailment
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-5" name="warning-signals" type="checkbox" value="CL">
          <label class="govuk-label govuk-checkboxes__label">
            CL - Conceals
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-7" name="warning-signals" type="checkbox" value="CO">
          <label class="govuk-label govuk-checkboxes__label">
            CO - Contagious
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-9" name="warning-signals" type="checkbox" value="DR">
          <label class="govuk-label govuk-checkboxes__label">
            DR - Drugs
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-11" name="warning-signals" type="checkbox" value="ES">
          <label class="govuk-label govuk-checkboxes__label">
            ES - Escaper
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-13" name="warning-signals" type="checkbox" value="FI">
          <label class="govuk-label govuk-checkboxes__label">
            FI - Firearms
          </label>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-4" name="warning-signals" type="checkbox" value="IS">
          <label class="govuk-label govuk-checkboxes__label">
            IS - Impersonates
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-6" name="warning-signals" type="checkbox" value="MN">
          <label class="govuk-label govuk-checkboxes__label">
            MN - Mental health
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-8" name="warning-signals" type="checkbox" value="SH">
          <label class="govuk-label govuk-checkboxes__label">
            SH - Self harm
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-10" name="warning-signals" type="checkbox" value="SU">
          <label class="govuk-label govuk-checkboxes__label">
            SU - Suicidal
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-12" name="warning-signals" type="checkbox" value="VI">
          <label class="govuk-label govuk-checkboxes__label">
            VI - Violent
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-14" name="warning-signals" type="checkbox" value="WE">
          <label class="govuk-label govuk-checkboxes__label">
            WE - Weapons
          </label>
        </div>
      </div>
      <div class="govuk-checkboxes govuk-!-padding-bottom-2" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="warning-signals-16" name="warning-signals" type="checkbox" value="XP">
          <label class="govuk-label govuk-checkboxes__label">
            XP - Explosives
          </label>
        </div>
      </div>
    </div>
    </div>
</fieldset>
</div>


<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s">
    Person description (Optional)
  </label>
<div class="govuk-form-group" style="float:left">
  <label class="govuk-label" for="ethnicity">
    Ethnicity
  </label>
  <select class="govuk-select" id="ethnicity" name="sort">
    <option value="" selected></option>
    <option value="IC0">IC0 - Unknown</option>
    <option value="IC1">IC1 - White, North European</option>
    <option value="IC2">IC2 - White, South European</option>
    <option value="IC3">IC3 - Black</option>
    <option value="IC4">IC4 - Asian</option>
    <option value="IC5">IC5 - Chinese, Japanese or South East Asian</option>
    <option value="IC6">IC6 - Middle Eastern</option>
  </select>
</div>
<div class="govuk-form-group govuk-!-margin-left-3" style="float:left">
  <label class="govuk-label" for="sex">
    Sex
  </label>
  <select class="govuk-select" id="sex" name="sort">
    <option value="" selected></option>
    <option value="M">Male</option>
    <option value="F">Female</option>
    <option value="U">Unknown</option>
  </select>
</div>
<div class="govuk-form-group govuk-!-margin-left-3" style="float:left">
  <label class="govuk-label" for="age">
    Age
  </label>
  <input class="govuk-input govuk-input--width-2" id="age" name="event-name" type="text">
</div>
</div>
