.leds-alert {
    background-color: #f5f9fd; 
    border-color: #1d70b8;
}

.leds-alert__success {
    background-color: #f3fffa; 
    border-color: #00703c;
}

.leds-alert__error {
    background-color: #fef7f5; 
    border-color: #d4351c;
}

// .leds-alert {
//     background-color: #e5f1fb; 
//     border-color: #1d70b8;
// }

// .leds-alert__success {
//     background-color: #b6ffdc; 
//     border-color: #00703c;
// }

// .leds-alert__error {
//     background-color: #fcece9; 
//     border-color: #d4351c;
// }

