{% extends "layout-menu-new.html" %}

{% block pageTitle %}
Search – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block content %}
<h1>Advanced search for a vehicle</h1>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-label--s">
      Who is this search for?
    </legend>
  <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="OBO" name="OBO" type="radio" value="email">
      <label class="govuk-label govuk-radios__label" for="contact">
        For myself
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="OBO-2" name="OBO" type="radio" value="phone" data-aria-controls="conditional-OBO-2">
      <label class="govuk-label govuk-radios__label" for="OBO-2">
        For someone else
      </label>
    </div>
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OBO-2">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="contact-by-phone">
          On behalf of
        </label>
        <div id="onbehalf-hint" class="govuk-hint">
          For example, PC Smith (12345)
        </div>
        <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
        <div class="govuk-warning-text govuk-!-margin-top-3">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text govuk-!-width-two-thirds">
            <span class="govuk-warning-text__assistive">Warning</span>
            Remember, you're still personally responsible for the information you provide even if you're performing this search on behalf of someone else
          </strong>
        </div>
      </div>
    </div>
  </div>
  </fieldset>
</div>

  {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

  {{ govukCharacterCount({
    name: "justification",
    id: "justification",
    maxlength: 250,
    threshold: 0,
    rows: 2,
    classes: "govuk-!-width-two-thirds",
    hint: {
    text: "For example, incident reference, location, power used"
    },
    label: {
      classes: "govuk-label--s",
      text: "Justification"
    }
  }) }}

  {{ govukSelect({
    id: "reason-code",
    name: "reason-code",
    label: {
      classes: "govuk-label--s",
      text: "Reason code"
    },
    items: [
    {
      value: "Select",
      text: "Select a reason code",
      selected: true
    },
    {
      value: "0",
      text: "0 - Transaction log and audit checks"
    },
    {
        value: "1",
        text: "1 - Vehicle and/or person stopped"
    },
      {
        value: "2",
        text: "2 - Moving vehicle"
      },
      {
        value: "3",
        text: "3 - Abandoned or parked and unattended vehicle"
      },
      {
        value: "4",
        text: "4 - Vehicles involved in a road traffic collision"
      },
      {
        value: "5",
        text: "5 - Subject of process or investigation"
      },
      {
        value: "6",
        text: "6 - Administration"
      },
      {
        value: "7",
        text: "7 - Enquiries relating to family protection issues"
      },
      {
        value: "8",
        text: "8 - On behalf of other authorised agency"
      },
      {
        value: "9",
        text: "9 - Update, Confirm, Broadcast"
      }
    ]
  }) }}

<br>

<div class="govuk-grid-row">

  {# Side nav #}
  <div class="govuk-grid-column-one-quarter">
    <aside class="" role="complementary">
      <h2 class="govuk-visually-hidden" id="app-subnav-heading">Pages in this section</h2>
      <nav role="navigation" aria-labelledby="subsection-title" class="menu">
        <ul class="menu_list govuk-!-font-size-16">
          <li class="menu_list_item menu_list_item-active">
            <a href="#/" class="menu_list_item_link">
              VIN, VRM, Engine details
            </a>
          </li>
          <li class="menu_list_item">
            <a href="#/" class="menu_list_item_link">
              Description
            </a>
          </li>
          <li class="menu_list_item">
            <a href="#/" class="menu_list_item_link">
              Registered address
            </a>
          </li>
          <li class="menu_list_item">
            <a href="#/" class="menu_list_item_link">
              Police report details
            </a>
          </li>
          <li class="menu_list_item">
            <a href="#/" class="menu_list_item_link">
              DVLA markers
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>

  <div class="govuk-grid-column-three-quarters">

    {# SECTION: VIN, VRM, Engine details #}

    {#<h2 class="govuk-heading-m"><span class="govuk-visually-hidden">VIN, VRM, Engine details</span></h2>#}
    <h2 class="govuk-heading-m">VIN, VRM, Engine details</span></h2>

    <div class="govuk-details govuk-inset-text govuk-!-margin-bottom-4">
      <p class="govuk-label govuk-label--s govuk-!-margin-bottom-2">All fields below are optional</p>
      <p class="govuk-body">For partial values, enter $ to represent any combination of letters and # for any combination of numbers</p>
    </div>

    <div class="govuk-grid-row" style="display: flex;">
      <div class="govuk-grid-column-one-third govuk-!-padding-4 govuk-!-margin-top-4 govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-!-margin-left-4" style="flex: 1; background-color: #f8f8f8;">
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="VRM">
              VRM
            </label>
            <textarea class="govuk-textarea govuk-input--width-10" id="more-detail" name="more-detail" rows="5"></textarea>
          </div>
        </fieldset>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-4 govuk-!-margin-top-4 govuk-!-margin-right-2 govuk-!-margin-bottom-2 govuk-!-margin-left-2" style="flex: 1; background-color: #f8f8f8;">
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="VIN">
              VIN
            </label>
            <input class="govuk-input govuk-input--width-10" id="VIN" name="VIN" type="text" onChange="searchTagToggle('tagVIN')">
          </div>
        </fieldset>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-4 govuk-!-margin-top-4 govuk-!-margin-right-4 govuk-!-margin-bottom-2 govuk-!-margin-left-2" style="flex: 1; background-color: #f8f8f8;">
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="engine-no">
              Engine number
            </label>
            <input class="govuk-input govuk-input--width-10" id="engine-no" name="engine-no" type="text">
          </div>
        </fieldset>
      </div>
    </div>

    <br>

    <div class="govuk-grid-row" style="display: flex;">

      <div class="govuk-grid-column-one-half govuk-!-padding-4 govuk-!-margin-top-2 govuk-!-margin-right-2 govuk-!-margin-bottom-4 govuk-!-margin-left-4" style="flex: 1; background-color: #f8f8f8;">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" onChange="searchTagToggle('tagYearRegistration')">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h3 class="govuk-fieldset__heading">
                Year of registration
              </h3>
            </legend>
            <div class="govuk-date-input" id="year-of-registrationd">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="from-date-value-year">
                    From
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-date-value-year" name="from-date-value-year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="to-date-value-year">
                    To
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-date-value-year" name="to-date-value-year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
          </fieldset>
        </div>
      </div>

      <div class="govuk-grid-column-one-half govuk-!-padding-4 govuk-!-margin-top-2 govuk-!-margin-right-4 govuk-!-margin-bottom-4 govuk-!-margin-left-2" style="flex: 1; background-color: #f8f8f8;">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h3 class="govuk-fieldset__heading">
                Engine capacity
              </h3>
            </legend>
            <div class="govuk-date-input" id="year-of-registrationd">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="capacity-from">
                    From
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="capacity-from" name="capacity-from" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="capacity-to">
                    To
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="capacity-to" name="capacity-to" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
          </fieldset>
        </div>
      </div>

    </div>

    <br>

    {# Entered search crtiera #}
    <div class="govuk-!-padding-6" id="entered-search-critera" style="background-color: #F8F8F8; border-style: solid; border-color: #b1b4b6;">

      <h2 class="govuk-heading-m">Search criteria entered</h2>

      <div id="search-tags" class="govuk-!-margin-bottom-6">
        <span id="tagVIN" class="advanced-search-criteria-tag hide-tag">VIN: 14705</span>
        <span id="tagYearRegistration" class="advanced-search-criteria-tag hide-tag">Year of registration: 1986 to 1984</span>
        <span id="tagMakeModel" class="advanced-search-criteria-tag hide-tag">Vauxhall Astra 1.2 L</span>
        <span id="tagPrimaryColour" class="advanced-search-criteria-tag hide-tag">Red</span>
        <span id="tagBodyType" class="advanced-search-criteria-tag hide-tag">Convertible</span>
        <span id="tagPostCode" class="advanced-search-criteria-tag hide-tag">SE23 6FH</span>
        <span id="tagLostStolen" class="advanced-search-criteria-tag hide-tag">Lost/Stolen</span>
        <span id="tagSeen" class="advanced-search-criteria-tag hide-tag">Seen</span>
        <span id="tagChangeInColour" class="advanced-search-criteria-tag hide-tag">Change in colour</span>
        <span id="tagExcludeExported" class="advanced-search-criteria-tag hide-tag">Exclude: Exported</span>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="include-uninsured" name="include-uninsured" type="checkbox" value="include-uninsured">
            <label class="govuk-label govuk-checkboxes__label" for="include-uninsured">
              Include uninsured vehicles
            </label>
          </div>
        </div>
      </div>

      <div class="govuk-button-group">
        <a href="./advanced-search-results" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Search</a>
        <a class="govuk-link" href="#">Clear search</a>
      </div>

    </div>

  </div>

</div>


  {% block pageScripts %}
    <script>

      var newNameId = 2;
      var addAnotherButton = document.getElementById('add-another-button');
      var makemodel = document.getElementById("makemodel-div");

      var stringToHTML = function (str) {
        var parser = new DOMParser();
        var doc = parser.parseFromString(str, 'text/html');
        return doc.body.firstChild;
      };

      let count=0;

      addAnotherButton.onclick = function () {
      count+=1;
      var s = stringToHTML(`
      <fieldset id="makemodel-div-${count}" style="background-color: #F8F8F8;border: 0;">
      <div id="wholemm" class="govuk-grid-row">
      <div class="govuk-form-group" style="float:left">
      <label class="govuk-label govuk-label--s" for="make">
        Make
      </label>
      <select class="govuk-select" id="act-code" name="actCode">
        {% block make2 %}
        {% include "includes/make.html" %}
        {% endblock %}
      </select>
      </div>
      <div class="govuk-form-group" style="float:left; margin-left:20px">
      <label class="govuk-label govuk-label--s" for="make">
        Model
      </label>
      <select class="govuk-select" id="rea-code" name="reaCode">
        {% block model2 %}
        {% include "includes/models.html" %}
        {% endblock %}
      </select>
      </div>
      <div class="govuk-!-margin-top-7" style="float:left; margin-left:20px">
      <a class="govuk-link" onclick=$('#makemodel-div-${count}').remove()>Remove</a>
      </div>
      </div>
      </<fieldset>
      `);

      makemodel.appendChild(s);
      document.getElementById("name-"+newNameId).focus();
      newNameId++;
      };

      var newNameId = 2;
      var addAnotherBodyTypeButton = document.getElementById('add-another-bodytype-button');
      var bodytype = document.getElementById("bodytype-div");

      var stringToHTML = function (str) {
      var parser = new DOMParser();
      var doc = parser.parseFromString(str, 'text/html');
      return doc.body.firstChild;
      };

      addAnotherBodyTypeButton.onclick = function () {
      var s = stringToHTML(`
      <fieldset id="bodytype-div-${count}" style="background-color: #F8F8F8;border: 0;">
        <div class="govuk-grid-row">
          <div class="govuk-form-group" style="float:left">
            <label class="govuk-label govuk-label--s" for="make">
              Body type
            </label>
            <select class="govuk-select" id="make" name="make">
              <option value="" selected></option>
              <option value="ford" >Saloon</option>
              <option value="toyota">SUV or other type</option>
            </select>
          </div>
          <div class="govuk-!-margin-top-7" style="float:left; margin-left:20px">
            <a class="govuk-link" onclick=$('#bodytype-div-${count}').remove()>Remove</a>
          </div>
        </fieldset>
        `);

        bodytype.appendChild(s);
        document.getElementById("name-"+newNameId).focus();
        newNameId++;
      };


      var newNameId = 2;
      var addAnotherReportOwnerButton = document.getElementById('add-another-reportowner-button');
      var reportowner = document.getElementById("reportowner-div");

      var stringToHTML = function (str) {
        var parser = new DOMParser();
        var doc = parser.parseFromString(str, 'text/html');
        return doc.body.firstChild;
      };

      addAnotherReportOwnerButton.onclick = function () {
        var s = stringToHTML(`
        <fieldset id="reportowner-div-${count}" style="background-color: #F8F8F8; border: 0;">
          <div class="govuk-grid-row">
            <div class="govuk-form-group" style="float:left">
              <label class="govuk-label govuk-label--s" for="owner">
                Report owner
              </label>
              <select class="govuk-select" id="act-code" name="actCode">
                {% block codesOwner %}
                {% include "includes/codes.html" %}
                {% endblock %}
              </select>
            </div>
            <div class="govuk-!-margin-top-7" style="float:left; margin-left:20px">
              <a class="govuk-link" onclick=$('#reportowner-div-${count}').remove()>Remove</a>
            </div>
          </fieldset>
          `);

          reportowner.appendChild(s);
          document.getElementById("name-"+newNameId).focus();
          newNameId++;
        };

        const { accordionWithSummarySections } = document.forms;
        accordionWithSummarySections.reset();

      </script>

      <link rel="stylesheet" href="/public/css/accessible-autocomplete.min.css">
      <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>

      <script type="text/javascript">
        var selectEl = document.querySelector('#address')
        accessibleAutocomplete.enhanceSelectElement({
          autoselect: true,
          confirmOnBlur: true,
          defaultValue: "",
          minLength: 2,
          selectElement: selectEl
        })
        var queryStringParameters = window.location.search
        var previouslySubmitted = queryStringParameters.length > 0
        if (previouslySubmitted) {
          var submittedEl = document.querySelector('.submitted')
          submittedEl.classList.remove('submitted--hidden')
          var params = new URLSearchParams(document.location.search.split('?')[1])
          document.querySelector('.submitted__last-location').innerHTML = params.get('address')
        }
      </script>

      <script>
        function clearForm() {
          var $f = $(".form");
          var $f = $f.find(':input').not(':button, :submit, :reset, :hidden');
          $f.val('').attr('value','').removeAttr('checked').removeAttr('selected');
        }
      </script>
      <script src="/public/javascripts/leds-global-navigation.js"></script>

      <script type="text/javascript">
        // Toggle hiding of search criteria tags
        function searchTagToggle(searchTagID) {
          $(document.getElementById(searchTagID)).toggle();
        }
      </script>

    {% endblock %}

{% endblock %}
