{% extends "layout-menu-new.html" %}

{% block pageTitle %}
  Search results – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
      <a href="javascript:history.back()" class="govuk-back-link govuk-link--no-visited-state">Edit search</a>
  </div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5 govuk-!-padding-top-7">2 search results</h1>
    </div>
  </div>

      {#
      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View search criteria
        </span>
      </summary>
      <div class="govuk-details__text">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="float: left; width: 180px">VIN:</dt>
            <dd class="govuk-summary-list__value" style="float: left">
              <strong class="govuk-tag govuk-tag--blue">RE*78$gh33</strong></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="float: left; width: 180px">Address:</dt>
            <dd class="govuk-summary-list__value" style="float: left">
              <strong class="govuk-tag govuk-tag--blue">Mornington road, SW12 6FE</strong></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="float: left; width: 180px">Make & Model:</dt>
            <dd class="govuk-summary-list__value" style="float: left">
              <strong class="govuk-tag govuk-tag--blue">Ford Focus</strong>
              <strong class="govuk-tag govuk-tag--blue">Ford fiesta</strong>
              <strong class="govuk-tag govuk-tag--blue">Opel corsa</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="float: left; width: 180px">Colours:</dt>
            <dd class="govuk-summary-list__value" style="float: left">
              <strong class="govuk-tag govuk-tag--blue">red & any</strong></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="float: left; width: 180px">Reports:</dt>
            <dd class="govuk-summary-list__value" style="float: left">
              <strong class="govuk-tag govuk-tag--blue">Lost/stolen</strong>
              <strong class="govuk-tag govuk-tag--blue">Action</strong>
              <strong class="govuk-tag govuk-tag--blue">Information</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="float: left; width: 180px">Report owner:</dt>
            <dd class="govuk-summary-list__value" style="float: left">
              <strong class="govuk-tag govuk-tag--blue">Lambeth Police</strong></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="float: left; width: 180px">Report incident date:</dt>
            <dd class="govuk-summary-list__value" style="float: left">
              <strong class="govuk-tag govuk-tag--blue">12 Mar 2020 - 12 Mar 2022</strong></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="float: left; width: 180px">Report created date:</dt>
            <dd class="govuk-summary-list__value" style="float: left">
              <strong class="govuk-tag govuk-tag--blue">12 Mar 2020 - 12 Mar 2022</strong></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="float: left; width: 180px">DVLA markers:
            <dd class="govuk-summary-list__value" style="float: left">
              <strong class="govuk-tag govuk-tag--blue">Address outside UK mainland</strong>
              <strong class="govuk-tag govuk-tag--blue">As notified by police/local authority</strong>
              <strong class="govuk-tag govuk-tag--blue">Diplomatic priviledge</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="float: left; width: 180px">Year of registration:</dt>
            <dd class="govuk-summary-list__value" style="float: left">
              <strong class="govuk-tag govuk-tag--blue">Jan 2010 - Dec 2021</strong></dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="float: left; width: 180px">Engine capacity:</dt>
            <dd class="govuk-summary-list__value" style="float: left">
              <strong class="govuk-tag govuk-tag--blue">1900-2999 cc</strong></dd>
          </div>
      </details>

  <hr class="govuk-section-break govuk-section-break--m">
  #}

<!--
  <h2 class="govuk-heading-l">Exact matches</h2>
-->

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">VRM</th>
      <th scope="col" class="govuk-table__header">Colour</th>
      <th scope="col" class="govuk-table__header">Make/Model</th>
      <th scope="col" class="govuk-table__header">Body type</th>
      <th scope="col" class="govuk-table__header" >Hazards, Reports and Markers</th>
      <th scope="col" class="govuk-table__header">VIN</th>
      <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Created by</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link govuk-link--no-visited-state" href="./BIILLY-PR" style="white-space:pre">BII LLY</a>
      </th>
      <td class="govuk-table__cell">SILVER</td>
      <td class="govuk-table__cell">JAGUAR, XF</td>
      <td class="govuk-table__cell">4 DOOR SALOON</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-!-margin-top-0 govuk-tag--red" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #942514">Occupants potentially dangerous</strong>
        <strong class="govuk-tag govuk-!-margin-top-0 govuk-tag--red" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #942514">Action</strong>
        <strong class="govuk-tag govuk-!-margin-top-0 govuk-tag--yellow" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #ffdd00">Information</strong>
      </td>
      <td class="govuk-table__cell">-</td>
      <td class="govuk-table__cell"><strong class="govuk-tag">Police</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <a class="govuk-link govuk-link--no-visited-state" href="./BIILLY" style="white-space:pre">BII LLY</a><br>
        <div class="govuk-tag govuk-!-margin-top-0 govuk-tag--modified"><span style="white-space:pre">BII LLY from:</span><br> 12/12/2021</div>
      </th>
      <td class="govuk-table__cell">WHITE</td>
      <td class="govuk-table__cell">JAGUAR, XF</td>
      <td class="govuk-table__cell">4 DOOR SALOON</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-!-margin-top-0 govuk-tag--yellow" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #ffdd00">Cherished TRANSFER</strong></td>
      <td class="govuk-table__cell">5YJSA1DG9DFP14705</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">DVLA</strong></td>
    </tr>
  </tbody>    
</table>

<hr class="govuk-section-break govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">2 past vehicles with BII LLY</h1>
  </div>
</div>

<div class="govuk-details govuk-inset-text govuk-!-margin-bottom-5">
  <p class="govuk-body">Any vehicles that held more than 1 other VRM after BII LLY will not be displayed below</p>
  <p class="govuk-body">DVLA makers are not displayed below</p>
</div>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">VRM</th>
      <th scope="col" class="govuk-table__header">Colour</th>
      <th scope="col" class="govuk-table__header">Make/Model</th>
      <th scope="col" class="govuk-table__header">Body type</th>
      <th scope="col" class="govuk-table__header" style="width:230px; white-space: nowrap;">Hazards and Police Reports</th>
      <th scope="col" class="govuk-table__header">VIN</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        CF60 POP<br>
        <div class="govuk-tag govuk-!-margin-top-0 govuk-tag--modified"><span style="white-space:pre">BII LLY dates:</span><br> 10/10/2020 - 12/12/2021</div>
      </th>
      <td class="govuk-table__cell">BLACK</td>
      <td class="govuk-table__cell">MERCEDES, CLK</td>
      <td class="govuk-table__cell">COUPE</td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-!-margin-top-0 govuk-tag--white" style="white-space:pre">None</strong>
      </td>
      <td class="govuk-table__cell">1KLMY1DO9PPP89463</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        BII LLY<br>
        <div class="govuk-tag govuk-!-margin-top-0 govuk-tag--modified"><span style="white-space:pre">BII LLY in the past</div>
      </th>
      <td class="govuk-table__cell">YELLOW</td>
      <td class="govuk-table__cell">PORSCHE, 911</td>
      <td class="govuk-table__cell">COUPE</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-!-margin-top-0 govuk-tag--white" style="white-space:pre">None</strong></td>
      <td class="govuk-table__cell">3UJEQ6YR3UAN73184</td>
    </tr>
  </tbody>
</table>

<hr id="endResults" class="govuk-section-break govuk-section-break">

{#
<details id="extendDetails" class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Can't find the vehicle you're looking for?
    </span>
  </summary>
  <div class="govuk-details__text">
    You can try extending your search, which will return results that partially match your search criteria by applying the following rules:
    <ul class="govuk-list govuk-list--bullet">
      <li>Include results that have value 'unknown' against any of your search criteria.</li>
      <li>Include results that have values similar to your search criteria. For example, return maroon coloured cars instead of red.</li>
    </ul>
    <button id="extend" type="button" type="button" style="background-color: #CBCBCB;" class="govuk-button govuk-button--secondary" data-module="govuk-button">Extend search</button>
  </div>
</details>
#}

{% block pageScripts %}
<script>

  var extendSearch = document.getElementById('extend');
  var endResults = document.getElementById("endResults");
  var extendDetails = document.getElementById("extendDetails");
  var partialTitle = document.getElementById("partialTitle");
  var partialTable = document.getElementById("partialTable");
  var partialHint = document.getElementById("partialHint");

  var stringToHTML = function (str) {
    var parser = new DOMParser();
    var doc = parser.parseFromString(str, 'text/html');
    return doc.body.firstChild;
  };

  extendSearch.onclick = function () {
    extendDetails.style.display = "none";
    partialTitle.style.display = "block";
    partialTable.style.display = "block";
    partialHint.style.display = "block";
  };

  </script>
{% endblock %}

{% endblock %}
