{% extends "layout-menu-3.html" %}

{% block pageTitle %}
  CF60 DPK - Insurance – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">LEDS Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="./search">Vehicles search</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="./overview-safe">Vehicle record</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Insurance
        </li>
      </ol>
    </div>
  </div>
  <div class="govuk-grid-column-two-quarters govuk-!-margin-top-2" style="float:right">
    <a href="./export-copy" class="govuk-link govuk-link--no-visited-state"><img src="/public/images/export-icon.png" alt="Export icon"></a>&nbsp;&nbsp;<a href="./export-copy" class="govuk-link govuk-link--no-visited-state">Export record</a>
  </div>
</div>

{% endblock %}

{% block content %}

{% block carheader %}
{% include "includes/carheader-blue.html" %}
{% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <aside class="" role="complementary">
        <h2 class="govuk-visually-hidden" id="app-subnav-heading">Pages in this section</h2>
        <nav role="navigation" aria-labelledby="subsection-title" class="menu">
          <ul class="menu_list govuk-!-font-size-16">
            <li class="menu_list_item">
              <a href="./overview-safe" class="menu_list_item_link">
                Overview
              </a>
            </li>
            <li class="menu_list_item menu_list_item-active">
              <a href="./insurance" class="menu_list_item_link">
                Insurance
              </a>
            </li>
            <li class="menu_list_item">
                <a href="./past-insurance" class="menu_list_item_link">
                  Past insurance
                </a>
              </li>
            <li class="menu_list_item">
              <a href="./MOT" class="menu_list_item_link">
                MOT history
              </a>
            </li>
            <li class="menu_list_item">
              <a href="./markers" class="menu_list_item_link">
                DVLA markers
              </a>
            </li>
            <li class="menu_list_item">
              <a href="./previous-keeper" class="menu_list_item_link">
                Previous keeper
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

    <div class="govuk-grid-column-three-quarters">
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
      <span style="float:right; margin-top:10px"><a href="#"></a></span>

      <h2 class="govuk-heading-l">Current insurance details</h2>


<h3 class="govuk-heading-m">Insurance policy: 1213-56345-3242</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Policy holder
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="./search-drivers" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold govuk-!-margin-bottom-2">Bob Salmon</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Insured from
        </dt>
        <dd class="govuk-summary-list__value">
            12 Dec 2022, 00:00
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Insured to
        </dt>
        <dd class="govuk-summary-list__value">
            11/12/2023, 23:59
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Policy address
        </dt>
        <dd class="govuk-summary-list__value">
          72 Guild Street<br>London<br>SE23 6FH
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Allowed to drive other vehicles
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Class of use
        </dt>
        <dd class="govuk-summary-list__value">
          Social domestic & pleasure
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Company details
        </dt>
        <dd class="govuk-summary-list__value">
          Angler Motor Insurance Ltd - 02063331234
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          VRM
        </dt>
        <dd class="govuk-summary-list__value">
          CF60 DPK
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Vehicle make & model
        </dt>
        <dd class="govuk-summary-list__value">
          Mercedes Benz, C-Class
        </dd>
      </div>
    </dl>
  </div>
<!-- background-color: white; border: 2px solid #1d70b8; -->
  <div class="govuk-grid-column-one-third" style="background-color: white; border: 1px solid #b1b4b6;">
    <h3 class="govuk-heading-m govuk-!-margin-top-4">Included drivers</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><strong><a href="./search-drivers-fred" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold govuk-!-margin-bottom-2">Fred Salmon</a></strong><br>
      Date of birth: 10 Jun 1968</li>
          <li><strong><a href="./search-drivers-kate" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold govuk-!-margin-bottom-2">Kate Salmon</a></strong><br>
      Date of birth: 21 Mar 1999</li>
      </ul>
    <h3 class="govuk-heading-m">Excluded drivers</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><strong><a href="./search-drivers-karl" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold govuk-!-margin-bottom-2">Karl Salmon</a></strong><br>
        Date of birth: 12 Jul 1988<br></li>
      <li><strong><a href="./search-drivers-jake" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold govuk-!-margin-bottom-2">Jake Jones</a></strong><br>
        Date of birth: 30 May 1991</li>
      </ul>
      <h3 class="govuk-heading-m">Extra drivers </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>None (Included or Excluded)</li>
      </ul>


  </div>
</div>

        </div>
      </div>

{% endblock %}
