
{% extends "layout.html" %}

{% block pageTitle %}
  LEDS – Vehicles prototype
{% endblock %}

{% block content %}

      <h1 class="govuk-heading-xl">
        Search for a vehicle

        <hr class="govuk-section-break govuk-section-break--m">

        <div class="hods-alert hods-alert--error">
          <h2 class="hods-alert__heading">
            No vehicles found
          </h2>
        </div>

      <p class="govuk-body-l">
        Try <a href="#" class="govuk-link">editing your search</a> or start a <a href="#" class="govuk-link">new search</a>
      </p>

{% endblock %}
