{% extends "layout-menu-new.html" %}

{% block pageTitle %}
Create new report – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-three-quarters govuk-!-padding-right-9">

<div class="govuk-caption-l">Create new police record</div>
<h1 class="govuk-heading-l">Enter registered keeper details</h1>

<div class="hods-alert govuk-!-margin-top-6 govuk-!-width-two-thirds">
  <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">
    All fields on this page are <strong>optional</strong>
  </p>
</div>

    <div class="govuk-radios">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="RK-name">
          Full name
        </label>
        <div id="passport-issued-hint" class="govuk-hint">
          For example, Robert Smith
        </div>
        <input class="govuk-input govuk-!-width-two-thirds" id="rk-name" name="rkName" >
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="RK-address">
          Address
        </label>
        <textarea class="govuk-textarea govuk-!-width-two-thirds" id="RK-address" name="RK-address" rows="7"></textarea>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="RK-postcode">
          Postcode
        </label>
        <input class="govuk-input govuk-!-width-one-third" id="RK-postcode" name="RK-postcode"></input>
      </div>

      <!--
      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-label--s">
          Keeper since
        </legend>
        <div class="govuk-date-input" id="passport-issued">
          <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="passport-issued-day" name="passport-issued-day" type="date">
        </div>
      </div>
      -->

    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

    <div class="govuk-button-group">
      <a href="./create-record-3" role="button" draggable="false" class="govuk-button" data-module="govuk-button" style="float:left">Continue</a>
      <a class="govuk-link" href="#">Cancel</a>
    </div>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <section class="app-summary-card">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">Record overview</h2>
      </header>
      <div class="app-summary-card__body">
          <div class="govuk-!-margin-bottom-3 govuk-!-padding-right-4"><strong class="govuk-tag govuk-!-width-full">Police record</strong></div>
          <p class="govuk-heading-l">SG 19705</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Make/model</p>
          <p class="govuk-body govuk-!-font-weight-bold">BMW(CARS), X5 SPORT</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Colour</p>
          <p class="govuk-body govuk-!-font-weight-bold">BLUE</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Registered keeper</p>
          <p class="govuk-body govuk-!-font-weight-bold">-</p>
      </div>
    </section>

  </div>
</div>


{% endblock %}
