{% extends "layout-menu-new.html" %}

{% block pageTitle %}
Create new report – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

<div class="govuk-caption-l">Add new report</div>
<h1 class="govuk-heading-l">Select report to add</h1>

  <form class="form" action="/select-report" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="report-type-1" name="report-type" type="radio" value="action">
              <label class="govuk-label govuk-radios__label" for="report-type-1">
                Action
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="report-type-2" name="report-type" type="radio" value="correction">
              <label class="govuk-label govuk-radios__label" for="report-type-2">
                Correction
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="report-type-3" name="report-type" type="radio" value="destroyed">
              <label class="govuk-label govuk-radios__label" for="report-type-3">
                Destroyed
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="report-type-4" name="report-type" type="radio" value="found">
              <label class="govuk-label govuk-radios__label" for="report-type-4">
                Found
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="report-type-5" name="report-type" type="radio" value="information">
              <label class="govuk-label govuk-radios__label" for="report-type-5">
                Information
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="report-type-6" name="report-type" type="radio" value="lost">
              <label class="govuk-label govuk-radios__label" for="report-type-6">
                Lost/Stolen
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="report-type-7" name="report-type" type="radio" value="reaction">
              <label class="govuk-label govuk-radios__label" for="report-type-7">
                Reaction
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="report-type-8" name="report-type" type="radio" value="removed">
              <label class="govuk-label govuk-radios__label" for="report-type-8">
                Removed
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="report-type-9" name="report-type" type="radio" value="restricted">
              <label class="govuk-label govuk-radios__label" for="report-type-9">
                Restricted
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="report-type-10" name="report-type" type="radio" value="seen">
              <label class="govuk-label govuk-radios__label" for="report-type-10">
                Seen
              </label>
            </div>
          </div>
        </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">


    <button class="govuk-button" data-module="govuk-button" style="float:left">Continue</button>
    <div>
      <button id="cancel-report" type="button" style="background-color: #CBCBCB;" class="govuk-button govuk-button--secondary govuk-!-margin-left-3" data-module="govuk-button">
        Cancel
      </button>
    </div>
  </form>
  </div>


  <!-- <div class="govuk-grid-column-one-quarter">
    &nbsp;
  </div>

  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-grid-row" style="background-color: white; border-bottom: 4px solid #d4351c">
        <div class="govuk-grid-column-full govuk-!-padding-left-6">
          <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">VRM</p>
          <p class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">SG 19705</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Make/model</p>
          <p class="govuk-body govuk-!-font-weight-bold">BMW(CARS), X5 SPORT</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Colour</p>
          <p class="govuk-body govuk-!-font-weight-bold">BLUE</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Registered keeper</p>
          <p class="govuk-body govuk-!-font-weight-bold">Bob Salmon</p>
        </div>
      </div>
  </div> -->

  <div class="govuk-grid-column-one-quarter">
    <section class="app-summary-card">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">Record overview</h2>
      </header>
      <div class="app-summary-card__body">
          <p class="govuk-body govuk-!-margin-bottom-0">VRM</p>
          <p class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">CF60POP</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Make/model</p>
          <p class="govuk-body govuk-!-font-weight-bold" style="text-transform:uppercase">VOLKSWAGEN TIGUAN MATCH TSI EVO</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Colour</p>
          <p class="govuk-body govuk-!-font-weight-bold" style="text-transform:uppercase">Blue & Black</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Registered keeper</p>
          <p class="govuk-body govuk-!-font-weight-bold" style="text-transform:uppercase">AISHA FAYAD</p>
      </div>
    </section>

  </div>
</div>



{% endblock %}
