{% extends "layout.html" %}

{% block pageTitle %}
Create new report – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-caption-l">Update report</div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Report details</h1>
      </div>
      <div class="govuk-grid-column-one-third" style="text-align:right">

      </div>
    </div>
  </div>
</div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Report type
        </dt>
        <dd class="govuk-summary-list__value">
          Action (ABC1234567)
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="/wip/overview-new-report" style="background-color: #CBCBCB; float:right" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" role="button" draggable="false" data-module="govuk-button">Delete report</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Created on
        </dt>
        <dd class="govuk-summary-list__value">
          29 Oct 2022, 15:19
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Created by
        </dt>
        <dd class="govuk-summary-list__value">
          PC Smith, PO123345<br>Essex Police
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>

    <div class="govuk-form-group govuk-!-width-one-half">
      <label class="govuk-label govuk-label--s">
      Owner
      </label>
      <div class="autocomplete-wrapper" style="background-color:white">
        <select name="address" id="address">
          <option selected="selected">MET Police</option>
          <option value="Avon and Somerset Police">Avon and Somerset Police</option>
          <option value="Bedfordshire Police">Bedfordshire Police</option>
          <option value="British Transport Police">British Transport Police</option>
          <option value="Cambridgeshire Constabulary">Cambridgeshire Constabulary</option>
          <option value="Cheshire Constabulary">Cheshire Constabulary</option>
          <option value="City of London Police">City of London Police</option>
          <option value="Civil Nuclear Constabulary">Civil Nuclear Constabulary</option>
          <option value="Cleveland Police">Cleveland Police</option>
          <option value="Cumbria Constabulary">Cumbria Constabulary</option>
          <option value="Derbyshire Constabulary">Derbyshire Constabulary</option>
          <option value="Devon and Cornwall Police">Devon and Cornwall Police</option>
          <option value="Dorset Police">Dorset Police</option>
          <option value="Durham Constabulary">Durham Constabulary</option>
          <option value="Dyfed-Powys Police">Dyfed-Powys Police</option>
          <option value="Essex Police">Essex Police</option>
          <option value="Gloucestershire Constabulary">Gloucestershire Constabulary</option>
          <option value="Greater Manchester Police">Greater Manchester Police</option>
          <option value="Gwent Police">Gwent Police</option>
          <option value="Hampshire Constabulary">Hampshire Constabulary</option>
          <option value="Hertfordshire Constabulary">Hertfordshire Constabulary</option>
          <option value="Humberside Police">Humberside Police</option>
          <option value="Kent Police">Kent Police</option>
          <option value="Lancashire Constabulary">Lancashire Constabulary</option>
          <option value="Leicestershire Police">Leicestershire Police</option>
          <option value="Lincolnshire Police">Lincolnshire Police</option>
          <option value="Merseyside Police">Merseyside Police</option>
          <option value="Metropolitan Police Service">Metropolitan Police Service</option>
          <option value="Ministry of Defence Police">Ministry of Defence Police</option>
          <option value="Norfolk Constabulary">Norfolk Constabulary</option>
          <option value="North Wales Police">North Wales Police</option>
          <option value="North Yorkshire Police">North Yorkshire Police</option>
          <option value="Northamptonshire Police">Northamptonshire Police</option>
          <option value="Northumbria Police">Northumbria Police</option>
          <option value="Nottinghamshire Police">Nottinghamshire Police</option>
          <option value="Police Scotland">Police Scotland</option>
          <option value="Police Service of Northern Ireland">Police Service of Northern Ireland</option>
          <option value="South Wales Police">South Wales Police</option>
          <option value="South Yorkshire Police">South Yorkshire Police</option>
          <option value="Staffordshire Police">Staffordshire Police</option>
          <option value="Suffolk Constabulary">Suffolk Constabulary</option>
          <option value="Surrey Police">Surrey Police</option>
          <option value="Sussex Police">Sussex Police</option>
          <option value="Thames Valley Police">Thames Valley Police</option>
          <option value="Warwickshire Police">Warwickshire Police</option>
          <option value="West Mercia Police">West Mercia Police</option>
          <option value="West Midlands Police">West Midlands Police</option>
          <option value="West Yorkshire Police">West Yorkshire Police</option>
          <option value="Wiltshire Police">Wiltshire Police</option>
        </select>
      </div>
    </div>
<br>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="status">
        <legend class="govuk-fieldset__legend govuk-label--s">
          Status
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="confirmed" name="status" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="confirmed">
              Confirmed
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="unconfirmed" name="status" type="radio" value="no" checked="checked">
            <label class="govuk-label govuk-radios__label" for="unconfirmed">
              Unconfirmed
            </label>
          </div>
        </div>
      </fieldset>
    </div>
<br>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-label--s">
        Incident start date
      </legend>
      <fieldset class="govuk-fieldset" role="group">
        <div class="govuk-date-input" id="from-date-value">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="from-date-value-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-value-day" name="from-date-value-day" type="text" pattern="[0-9]*" inputmode="numeric" value="25">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="from-date-value-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-value-month" name="from-date-value-month" type="text" pattern="[0-9]*" inputmode="numeric" value="10">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="from-date-value-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-date-value-year" name="from-date-value-year" type="text" pattern="[0-9]*" inputmode="numeric" value="2022">
            </div>
          </div>
        </div>
      </fieldset>
  <br>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-label--s">
      Incident to date
    </legend>
    <fieldset class="govuk-fieldset" role="group">
      <div class="govuk-date-input" id="from-date-value">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="from-date-value-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-value-day" name="from-date-value-day" type="text" pattern="[0-9]*" inputmode="numeric" value="27">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="from-date-value-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-value-month" name="from-date-value-month" type="text" pattern="[0-9]*" inputmode="numeric" value="10">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="from-date-value-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-date-value-year" name="from-date-value-year" type="text" pattern="[0-9]*" inputmode="numeric" value="2022">
          </div>
        </div>
      </div>
    </fieldset>

<br>

  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="end date">
      Action report classification
    </label>
  <div class="govuk-form-group" style="float:left">
    <label class="govuk-label" for="sort">
      Priority
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option value="" selected></option>
      <option value="high" selected="selected">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
  </div>
  <div class="govuk-form-group govuk-!-margin-left-3" style="float:left">
    <label class="govuk-label" for="sort">
      Action
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option value="" selected></option>
      <option value="stop" selected="selected">Stop</option>
      <option value="monitor">Monitor</option>
      <option value="assess">Assess</option>
    </select>
  </div>
  <div class="govuk-form-group govuk-!-margin-left-3" style="float:left">
    <label class="govuk-label" for="sort">
      Reason
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option value="" selected></option>
      <option value="crime" selected="selected">Crime</option>
      <option value="details">Details</option>
      <option value="disqualified">Disqualified</option>
      <option value="drugs">Drugs</option>
      <option value="misper">Misper</option>
      <option value="visor">Visor</option>
    </select>
  </div>
</div>


<div class="govuk-character-count govuk-!-width-two-thirds" data-module="govuk-character-count" data-maxlength="171">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="label-as-page-heading">
      Notes
    </label>
    <textarea class="govuk-textarea govuk-js-character-count" id="notes" name="label-as-page-heading" rows="5" aria-describedby="label-as-page-heading-info">Vehicle stopped and searched. Three males arrested in 01LX. One charged with PWITS, one charged with Assualt on Police. CRIS REF 22/9874561X.
    </textarea>
  </div>

  <div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 171 characters
  </div>
</div>

<br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="hazards-hint">
    <legend class="govuk-fieldset__legend govuk-label--s">
        Are there any associated hazards?
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="hazards-yes" name="hazards" type="radio" value="yes" data-aria-controls="conditional-hazards" checked="checked">
        <label class="govuk-label govuk-radios__label" for="hazards-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-hazards">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="hazards-hint">
              <legend class="govuk-fieldset__legend">
                Select all hazards that apply
              </legend>
              <div class="govuk-checkboxes " data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" type="checkbox" checked>
                  <label class="govuk-label govuk-checkboxes__label">
                    Chemical
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label">
                    Explosives
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" type="checkbox" checked>
                  <label class="govuk-label govuk-checkboxes__label">
                    Occupants potentially dangerous
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label">
                    Radiation
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label">
                    Weapons
                  </label>
                </div>
              </div>
            </fieldset>
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="hazards-no" name="hazards" type="radio" value="no" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="hazards-no">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">
<a href="/wip/overview-new-report" role="button" draggable="false" class="govuk-button" data-module="govuk-button" style="float:left">Save Action report</a>
<div>
  <button id="cancel-report" type="button" style="background-color: #CBCBCB;" class="govuk-button govuk-button--secondary govuk-!-margin-left-3" data-module="govuk-button">
    Cancel
  </button>
</div>
</div>

<div class="govuk-grid-column-one-third govuk-!-margin-top-1">
  {% block carheader %}
  {% include "includes/carheader-medium-side.html" %}
  {% endblock %}
</div>

{% block pageScripts %}

  <link rel="stylesheet" href="/public/css/accessible-autocomplete.min.css">
  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>

  <script type="text/javascript">
    var selectEl = document.querySelector('#address')
    accessibleAutocomplete.enhanceSelectElement({
      autoselect: true,
      confirmOnBlur: true,
      defaultValue: "",
      minLength: 2,
      selectElement: selectEl
    })
    var queryStringParameters = window.location.search
    var previouslySubmitted = queryStringParameters.length > 0
    if (previouslySubmitted) {
      var submittedEl = document.querySelector('.submitted')
      submittedEl.classList.remove('submitted--hidden')
      var params = new URLSearchParams(document.location.search.split('?')[1])
      document.querySelector('.submitted__last-location').innerHTML = params.get('address')
    }
  </script>
{% endblock %}
{% endblock %}
