/* nhs tags adapted */
.nhsuk-tag {
    background-color: #0055a6;
    border: 1px solid #0055a6;
    color: #fff;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}


.nhsuk-tag--white {
    background-color: #fff;
    border: 1px solid #212b32;
    color: #212b32;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}

.nhsuk-tag--grey {
    background-color: #dbe0e3;
    border: 1px solid #354550;
    color: #354550;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}

.nhsuk-tag--green {
    background-color: #cce5d8;
    border: 1px solid #004c23;
    color: #004c23;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}

.nhsuk-tag--aqua-green {
    background-color: #ccedeb;
    border: 1px solid #00524d;
    color: #00524d;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}

.nhsuk-tag--blue {
    background-color: #ccdff1;
    border: 1px solid #004281;
    color: #004281;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}

.nhsuk-tag--purple {
    background-color: #d6cce3;
    border: 1px solid #240050;
    color: #240050;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}

.nhsuk-tag--pink {
    background-color: #efd3e3;
    border: 1px solid #57133a;
    color: #57133a;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}

.nhsuk-tag--red {
    background-color: #f7d4d1;
    border: 1px solid #6b140e;
    color: #6b140e;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}

.nhsuk-tag--orange {
    background-color: #ffdc8e;
    border: 1px solid #4d3708;
    color: #4d3708;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}

.nhsuk-tag--yellow {
    background-color: #fff59d;
    border: 1px solid #4d4712;
    color: #4d4712;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
}

.nhsuk-tag--no-border {
    border: 0
}