{% extends "layout-menu-2.html" %}

{% block pageTitle %}
CF60 POP - Overview – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/search">Vehicles search</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Vehicle record <span><a href="/overview-boxes" style="color: #F3F3F3">&nbsp SWAP</a></span>
        </li>
      </ol>
    </div>
  </div>
<div class="govuk-grid-column-one-quarter">
  <a href="./export-confirm-3" style="float:right" class="govuk-link govuk-!-margin-top-2">Export record</a>
</div>
</div>

{% endblock %}

{% block content %}


<div class="hods-alert hods-alert--success govuk-!-margin-top-1">
        <h2 class="hods-alert__heading">
          Vehicle record information downloaded as PDF
        </h2>
      </div>


      {% block carheader %}
      {% include "includes/carheader-red.html" %}
      {% endblock %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <aside class="" role="complementary">
            <h2 class="govuk-visually-hidden" id="app-subnav-heading">Pages in this section</h2>
            <nav role="navigation" aria-labelledby="subsection-title" class="menu">
              <ul class="menu_list govuk-!-font-size-16">
                <li class="menu_list_item menu_list_item-active">
                  <a href="./overview-stolen-2" class="menu_list_item_link">
                    Overview
                  </a>
                </li>
                <li class="menu_list_item">
                  <a href="./no-insurance" class="menu_list_item_link">
                    Insurance
                  </a>
                </li>
                <li class="menu_list_item">
                  <a href="./insurance-past-check" class="menu_list_item_link">
                    Past insurance
                  </a>
                </li>
                  <li class="menu_list_item">
                  <a href="MOT.html" class="menu_list_item_link">
                    MOT history
                  </a>
                </li>
                <li class="menu_list_item">
                  <a href="markers.html" class="menu_list_item_link">
                    DVLA markers
                  </a>
                </li>
                <li class="menu_list_item">
                  <a href="previous-keeper.html" class="menu_list_item_link">
                    Previous keeper
                  </a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>

        <div class="govuk-grid-column-one-quarter info-box">
          <div class="govuk-grid-row red-margin-top">
            <h2 class="govuk-heading-s govuk-!-margin-left-3 govuk-!-margin-bottom-2">Hazards</h2>
          </div>
          <div class="govuk-grid-row red-margin-bottom">
            <p class="govuk-!-margin-left-2"><strong class="govuk-tag govuk-tag--red" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #942514">
                Weapons
              </strong>
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">&nbsp</p>
        </div>
        </div>
        <div class="govuk-grid-column-one-quarter info-box">
          <div class="govuk-grid-row red-margin-top">
            <h2 class="govuk-heading-s govuk-!-margin-left-3 govuk-!-margin-bottom-2">Police information</h2>
          </div>
          <div class="govuk-grid-row red-margin-bottom">
            <p class="govuk-!-margin-left-2"><strong class="govuk-tag govuk-tag--red" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #942514">
                Lost/Stolen
              </strong>
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">&nbsp</p>
        </div>
        </div>
        <div class="govuk-grid-column-one-quarter info-box">
          <div class="govuk-grid-row grey-margin-top">
            <h2 class="govuk-heading-s govuk-!-margin-left-3 govuk-!-margin-bottom-2">DVLA markers</h2>
          </div>
          <div class="govuk-grid-row grey-margin-bottom">
            <p class="govuk-!-margin-left-2 govuk-!-margin-right-6"><strong class="govuk-tag govuk-tag--grey">
              None
            </strong></p>
            <p class="govuk-body govuk-!-margin-bottom-2">&nbsp</p>
          </div>
        </div>
        </div>


          <div class="govuk-grid-column-one-quarter">
            <p>&nbsp</p>
          </div>
          <div class="govuk-grid-column-one-quarter red-status-box">
            <a href="./no-insurance" class="govuk-link govuk-link--no-underline govuk-link--inverse">
              <p class="govuk-heading-s govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-margin-top-6 govuk-!-margin-bottom-6" style="text-align: center; color: #ffffff">&#x2718 &nbsp No insurance held</p>
            </a>
          </div>
          <div class="govuk-grid-column-one-quarter green-status-box">
            <a href="/MOT" class="govuk-link govuk-link--no-underline govuk-link--inverse">
              <p class="govuk-heading-s govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-margin-top-3 govuk-!-margin-bottom-2" style="text-align: center; color: #ffffff">&#10003; &nbsp MOT held</p>
              <p class="govuk-body-s govuk-!-margin-bottom-3" style="text-align: center; color: #ffffff">Expiry date: 10/11/2023</p>
            </a>
          </div>
          <div class="govuk-grid-column-one-quarter green-status-box">
              <p class="govuk-heading-s govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-margin-top-3 govuk-!-margin-bottom-2" style="text-align: center; color: #ffffff">&#10003; &nbsp Tax held</p>
              <p class="govuk-body-s govuk-!-margin-bottom-3" style="text-align: center; color: #ffffff">Expiry date: 11/12/2023</p>
          </div>

    <!--
          <div class="govuk-grid-column-one-quarter">
            <p>&nbsp</p>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <details class="govuk-details govuk-!-padding-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Types of insurance held
                </span>
              </summary>
              <div class="govuk-details__text">
                  Private<br>
                  Commercial
              </div>
            </details>
          </div>
          </div>
    -->
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <p>&nbsp</p>
            </div>
            <div class="govuk-grid-column-three-quarters">

              <hr class="govuk-section-break govuk-section-break--m"><a id="Reports"></a>

              {% from "govuk/components/table/macro.njk" import govukTable %}

              {{ govukTable({
                caption: "Police information",
                captionClasses: "govuk-table__caption--l",
                firstCellIsHeader: true,
                head: [
                  {
                    text: "Report type"
                  },
                  {
                    text: "Notes"
                  },
                  {
                    text: "Owner"
                  },
                  {
                    text: "Created"
                  }
                ],
                rows: [
                  [
                    {
                      html: '<a href="./lost-report" class="govuk-link">Lost/Stolen<br>(E34Y9340TY3293)</a>'
                    },
                    {
                      text: "Keystaken. Stolen from the car park, AZTEC Hotel, Almonsbury, Bristol between 2100-0730HRS. Guardian REF No 1663/18 Force Service centre dealing"
                    },
                    {
                      text: "07A1"
                    },
                    {
                      text: "15 Mar 2022"
                    }
                  ]
                ]
              }) }}
                      </div>
                    </div>

    {% endblock %}
