07/0607/06{% extends "layout-menu-new.html" %}

{% block pageTitle %}
  CF60 POP - Reaction report – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">LEDS Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="./search">Vehicle search</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/overview-stolen">Vehicle record</a>
        </li>
      </ol>
    </div>
  </div>


  <div class="govuk-grid-column-one-half govuk-!-margin-top-3" style="text-align:right">
  <!-- <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">Update record</a> -->
    <a href="./edit-record" class="govuk-link govuk-link--no-visited-state"><img src="/public/images/edit-icon.png" style="vertical-align:middle; margin-right: 10px" alt="Edit icon">Edit record</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <a href="#" class="govuk-link govuk-link--no-visited-state"><img src="/public/images/copy-icon.png" style="vertical-align:middle; margin-right: 10px" alt="Copy icon">Clipboard</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <a href="./export-copy" class="govuk-link govuk-link--no-visited-state"><img src="/public/images/export-icon.png" style="vertical-align:middle; margin-right: 10px" alt="Export icon">Export record</a>
  </div>
</div>

{% endblock %}

{% block content %}

{% block carheader %}
{% include "includes/carheader-red-update-2.html" %}
{% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <aside class="" role="complementary">
        <h2 class="govuk-visually-hidden" id="app-subnav-heading">Pages in this section</h2>
        <nav role="navigation" aria-labelledby="subsection-title" class="menu">
          <ul class="menu_list govuk-!-font-size-16">
            <li class="menu_list_item ">
              <a href="overview.html" class="menu_list_item_link">
                Overview
              </a>
            </li>
            <li class="menu_list_item">
              <a href="insurance.html" class="menu_list_item_link">
                Insurance
              </a>
            </li>
            <li class="menu_list_item">
              <a href="#" class="menu_list_item_link">
                Past insurance
              </a>
            </li>
            <li class="menu_list_item">
              <a href="#" class="menu_list_item_link">
                MOT history
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters-from-desktop">
            <h2 class="govuk-heading-l">Reaction report</h2>
          </div>
          <div class="govuk-grid-column-one-quarter-from-desktop">
            <a href="./update-reaction" role="button" style="background-color: #CBCBCB; float: right" class="govuk-button govuk-button--secondary" data-module="govuk-button">Edit report</a>
          </div>
        </div>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reference number
          </dt>
          <dd class="govuk-summary-list__value">
            X73P1238GE6179
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident date (from)
          </dt>
          <dd class="govuk-summary-list__value">
            07/06/2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Incident date (to)
          </dt>
          <dd class="govuk-summary-list__value">
            -
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Report text
          </dt>
          <dd class="govuk-summary-list__value">
            VEHICLE STOPPED AND SEARCHED. THREE MALES ARRESTED IN 01MP. ONE CHARGED WITH PWITS, ONE CHARGED WITH ASSUALT ON POLICE. CRIS REF 22/9874561X
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Joined reports
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="./action-report" class="govuk-link">Action</a> (A15P3782OP0925)
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-m">Report source</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Owner
          </dt>
          <dd class="govuk-summary-list__value">
            02L1
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Created on
          </dt>
          <dd class="govuk-summary-list__value">
            07/06/2023 15:12
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expiry date
          </dt>
          <dd class="govuk-summary-list__value">
            03/06/2023
          </dd>
        </div>
      </dl>

        </div>
      </div>

{% endblock %}
