{% extends "layout-menu-new.html" %}

{% block pageTitle %}
Create new report – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<a href="./edit-record" class="govuk-back-link">Back to edit record</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Restricted report created
          </h1>
        </div>
        <h2 class="govuk-heading-m govuk-!-margin-top-7">Do you also need to Block this record?</h2>
        <p class="govuk-body">
          Restricted reports do not suppress Registered Keeper details. To do this, you also need to Block the record.
        </p>

        <div class="govuk-button-group">
            <a class="govuk-button" data-module="govuk-button" href="./block-record">Block record</a>
          <a class="govuk-link" href="./overview-blocked">Go to record</a>
        </div>
      </div>
    </div>



{% endblock %}
