{% extends "layout-menu-new.html" %}

{% block pageTitle %}
Update report – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-caption-l">Edit report</div>
      <h1 class="govuk-heading-l">Update Reaction report details</h1>

  <form class="form" action="/post-reaction-update" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-!-padding-right-9">
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Report type
        </dt>
        <dd class="govuk-summary-list__value">
          Reaction (X73P1238GE6179)
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="./delete-reaction" style="background-color: #CBCBCB; float:right" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" role="button" draggable="false" data-module="govuk-button">Delete report</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Owner
        </dt>
        <dd class="govuk-summary-list__value">
          02L1
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Created on
        </dt>
        <dd class="govuk-summary-list__value">
          20/05/2023, 15:12
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>
<br>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-label--s">
        Incident start date
      </legend>
        <div class="govuk-date-input" id="from-date-value">
            <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="passport-issued-day" name="passport-issued-day" type="date" value="2023-05-20">
        </div>
  <br>
  <legend class="govuk-fieldset__legend govuk-label--s">
    Incident to date
  </legend>
    <div class="govuk-date-input" id="from-date-value">
        <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="passport-issued-day" name="passport-issued-day" type="date" value="2023-05-20">
    </div>

<br>

<div class="govuk-character-count govuk-!-padding-right-9" data-module="govuk-character-count" data-maxlength="198">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--s" for="label-as-page-heading">
      Report text
    </label>
    <textarea class="govuk-textarea govuk-js-character-count" id="notes" name="notes" rows="5" style="text-transform: uppercase" aria-describedby="notes-info">VEHICLE STOPPED AND SEARCHED. THREE MALES ARRESTED IN 01MP. ONE CHARGED WITH PWITS, ONE CHARGED WITH ASSUALT ON POLICE. CRIS REF 22/9874561X
    </textarea>
  </div>
  <div id="notes-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 198 characters
  </div>
</div>

<br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="hazards-hint">
    <legend class="govuk-fieldset__legend govuk-label--s">
      Select the Action report(s) to join to this Reaction report
    </legend>
      <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend">
            Select all reports that apply
          </legend>
          <div class="govuk-checkboxes " data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox" data-aria-controls="conditional-pair-2" onclick="handleChange()" checked>
              <label class="govuk-label govuk-checkboxes__label">
                <strong><a href="./action-report-2" target="_blank" class="govuk-link govuk-link--no-visited-state">Action</a></strong> (A15P3782OP0925), by 02L1
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint" style="text-transform: uppercase">
                LOW ASSESS DRUGS Two white males, wearing hoodies seen dealing drugs by local residents. If you see vehicle, stop and check for PWITS
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" type="checkbox" onclick="handleChange()">
              <label class="govuk-label govuk-checkboxes__label">
                <strong><a href="./action-report" target="_blank" class="govuk-link govuk-link--no-visited-state">Action</a></strong> (E94F9390DE3893), by 01LX
              </label>
              <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint" style="text-transform: uppercase">
                {{ data['autoTextHidden'] }} {{ data['actNotes'].slice(0,150) }}...
              </div>
            </div>
          </div>
      </div>
    </fieldset>

    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="hazards-hint">
        <legend class="govuk-fieldset__legend govuk-label--s">
            Do you need to pair this report with the joined Action report(s)?
        </legend>
        <div id="changed-name-hint" class="govuk-hint">
          Paired reports will be automatically and immediately deleted
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pair-yes" name="pair" type="radio" value="yes" data-aria-controls="conditional-pair">
            <label class="govuk-label govuk-radios__label" for="pair-yes">
              Yes, pair reports
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pair-no" name="pair" type="radio" value="no" data-aria-controls="conditional-contact-2" checked>
            <label class="govuk-label govuk-radios__label" for="pair-no">
              No
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-pair">
            <div class="govuk-warning-text govuk-!-margin-top-3">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text govuk-!-width-two-thirds">
                <span class="govuk-warning-text__assistive">Warning</span>
                All joined reports will be automatically and immediately deleted
              </strong>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

<br>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">
<button class="govuk-button" data-module="govuk-button" style="float:left">Update report</button>
<div>
  <button id="cancel-report" type="button" style="background-color: #CBCBCB;" class="govuk-button govuk-button--secondary govuk-!-margin-left-3" data-module="govuk-button">
    Cancel
  </button>
</div>
</div>
</form>

<div class="govuk-grid-column-one-quarter">
  <section class="app-summary-card">
    <header class="app-summary-card__header">
      <h2 class="app-summary-card__title">Record overview</h2>
    </header>
    <div class="app-summary-card__body">
        <p class="govuk-body govuk-!-margin-bottom-0">VRM</p>
        <p class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">SG 19705</p>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Make/model</p>
        <p class="govuk-body govuk-!-font-weight-bold">BMW(CARS), X5 SPORT</p>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Colour</p>
        <p class="govuk-body govuk-!-font-weight-bold">BLUE</p>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Registered keeper</p>
        <p class="govuk-body govuk-!-font-weight-bold">Bob Salmon</p>

        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Hazards</p>
        <p><strong class="govuk-tag govuk-tag--red" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #942514">
          Weapons
        </strong>
        <strong class="govuk-tag govuk-tag--red" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #942514">
        Occupants potentially dangerous
        </strong>
        </p>
        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Reports</p>
        <p><strong class="govuk-tag govuk-tag--red" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #942514">
          Lost/Stolen
        </strong>
        <strong class="govuk-tag govuk-tag--red" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #942514">
        Action
        </strong>
        <strong class="govuk-tag govuk-tag--yellow" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #ffdd00">
        Action
        </strong>
        <strong class="govuk-tag govuk-tag--yellow" style="border-style: solid; border-left-width: 7px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-color: #ffdd00">
          Reaction
        </strong>
        </p>
    </div>
  </section>

</div>
</div>

{% block pageScripts %}

  <link rel="stylesheet" href="/public/css/accessible-autocomplete.min.css">
  <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>

  <script type="text/javascript">
    var selectEl = document.querySelector('#address')
    accessibleAutocomplete.enhanceSelectElement({
      autoselect: true,
      confirmOnBlur: true,
      defaultValue: "",
      minLength: 2,
      selectElement: selectEl
    })
    var queryStringParameters = window.location.search
    var previouslySubmitted = queryStringParameters.length > 0
    if (previouslySubmitted) {
      var submittedEl = document.querySelector('.submitted')
      submittedEl.classList.remove('submitted--hidden')
      var params = new URLSearchParams(document.location.search.split('?')[1])
      document.querySelector('.submitted__last-location').innerHTML = params.get('address')
    }
  </script>
{% endblock %}
{% endblock %}
