{% extends "layout-menu-new.html" %}

{% block pageTitle %}
Create new report – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-three-quarters govuk-!-padding-right-9">

<div class="govuk-caption-l">Edit record</div>
<h1 class="govuk-heading-l">Update blocked status</h1>

<form class="form" action="./overview-unblocked" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-label--s">
          Do you need to block this vehicle?
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="foreign" name="foreign" type="radio" value="yes" data-aria-controls="conditional-blocked-Yes" checked>
            <label class="govuk-label govuk-radios__label" for="foreign">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-blocked-Yes">
            <div class="govuk-form-group govuk-!-width-two-thirds">
              <label class="govuk-label govuk-label--s" for="code">
                Force/Station code
              </label>
              <select class="govuk-select" id="code" name="code">
                {% block codesBlock %}
                {% include "includes/codes.selected.html" %}
                {% endblock %}
              </select>
            </div>
            <div class="govuk-form-group govuk-!-width-two-thirds">
              <label class="govuk-label govuk-label--s" for="reference">
                Blocked reference
              </label>
              <input class="govuk-input " id="reference" name="reference" value="{{ data['blockRef'] }}">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="foreign-2" name="foreign" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="foreign-2">
              No, unblock vehicle
            </label>
          </div>
        </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">


    <button class="govuk-button" data-module="govuk-button" style="float:left">Update blocked status</button>
    <div>
      <button id="cancel-report" type="button" style="background-color: #CBCBCB;" class="govuk-button govuk-button--secondary govuk-!-margin-left-3" data-module="govuk-button">
        Cancel
      </button>
    </div>
  </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <section class="app-summary-card">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">Record overview</h2>
      </header>
      <div class="app-summary-card__body">
          <p class="govuk-body govuk-!-margin-bottom-0">VRM</p>
          <p class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">CF60 POP</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Make/model</p>
          <p class="govuk-body govuk-!-font-weight-bold">MERCEDES BENZ, C-CLASS</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Colour</p>
          <p class="govuk-body govuk-!-font-weight-bold">ORANGE & BLACK</p>

          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">Registered keeper</p>
          <p class="govuk-body govuk-!-font-weight-bold">[BLOCKED]</p>
      </div>
    </section>

  </div>

</div>
</form>

{% endblock %}
