{% extends "layout-menu-new.html" %}

{% block pageTitle %}
  VRM search – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}


{% block content %}


<!-- <img src="/public/images/copy-page.png">-->

<pre>
DATA RETRIEVED AT: 17/02/2023 12:51
====================================

VEHICLE & PERSON DETAILS:
------------------------------------------------
VRM:                CF60POP
VIN:                  5YJSA1DG9DFP14705
Make/model:  MERCEDES BENZ C-CLASS
Colour:             TURQUOISE & ORANGE
Body type:       5 DOOR SALOON
Fuel type:         ELECTRIC

Registered keeper: -
Keeper since:      -
Keeper address:    -

VEHICLE STATUS & MARKERS:
------------------------------------------------
Hazards:            WEAPONS
Police information: LOST/STOLEN
DVLA markers:       NONE

NO INSURANCE HELD
MOT HELD, EXPIRY DATE: 06/04/2023
TAX HELD, EXPIRY DATE: 11/12/2023


LOST/STOLEN (E34Y9340TY3293):
---------------------------------------------------------
Hazards:  WEAPONS
Created:  15/03/2023
Owner:    07A1

Notes:
15/03/22 0500Hrs Vehicle stolen at gunpoint from Halfords, Brixton, SW9.
Susp M, White, F508, Slim, wearing a black Nike hoodie.
Consider firearms support. Contact PS John Doe, 02081237634 Force 01LX.

======================================



</pre>

{% endblock %}
