{% extends "layout-a.html" %}

{% block pageTitle %}
HORRO501108C99PC
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}

<div class="print_header">
  <p class="govuk-heading-m" style="float:left">CF60 POP</p>
  <p class="govuk-heading-m" style="float:left; margin-left:180px">OFFICIAL - SENSITIVE</p>
  <p class="govuk-body-s" style="float:right">22242871-73a7-46a6-a060-d1821ac51d6d</p>
</div>

<div class="print_footer">
  <p class="" style="float:left">17/02/2023 12:58</p>
  <p class="govuk-heading-m" style="float:left; margin-left:110px">OFFICIAL - SENSITIVE</p>
  <p class="govuk-body-s" style="float:right">Page X of X</p>
</div>


<div class="ho_logo" style="width: 150px;">
  {% include "includes/home-office-logo.html" %}
</div>
<br>
<span class="govuk-caption-l">LEDS Vehicles</span>
<h1 class="govuk-heading-l">Vehicle record summary</h1>


<dl class="govuk-summary-list_print">
  <div class="govuk-summary-list__row_print">
    <dt class="govuk-summary-list__key_print">
      VRM
    </dt>
    <dd class="govuk-summary-list__value_print">
      CF60 POP
    </dd>

  </div>

  <div class="govuk-summary-list__row_print">
    <dt class="govuk-summary-list__key_print">
      Data retrieved at
    </dt>
    <dd class="govuk-summary-list__value_print">
      17/02/2023 12:51
    </dd>
  </div>
  <div class="govuk-summary-list__row_print">
    <dt class="govuk-summary-list__key_print">
      Document created on
    </dt>
    <dd class="govuk-summary-list__value_print">
      17/02/2023 12:58
    </dd>
  </div>
</dl>


<table class="govuk-table driverTable govuk-!-margin-top-9">
  <caption class="govuk-table__caption govuk-table__caption--m govuk-heading-m">Contents</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Item</th>
      <th scope="col" class="govuk-table__header app-custom-class">Page</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body govuk-!-margin-top-3">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header driverTableHeaderBreak">Vehicle and keeper details</th>
      <td class="govuk-table__cell">3</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header driverTableHeaderBreak">Vehicle status and markers</th>
      <td class="govuk-table__cell">4</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header driverTableHeaderBreak">More vehicle details</th>
      <td class="govuk-table__cell">7</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header driverTableHeaderBreak">Current insurance policy details</th>
      <td class="govuk-table__cell">11</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header driverTableHeaderBreak">Past insurance policy details (for 20/09/2022)</th>
      <td class="govuk-table__cell">11</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header driverTableHeaderBreak">Previous keeper information</th>
      <td class="govuk-table__cell">11</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header driverTableHeaderBreak">Full MOT history</th>
      <td class="govuk-table__cell">11</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header driverTableHeaderBreak">Police reports</th>
      <td class="govuk-table__cell">11</td>
    </tr>
  </tbody>
</table>


<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      OFFICIAL - SENSITIVE
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body-s">This document is produced for Law Enforcement purposes only and must not be disclosed outside of the Police Service except for specified purpose(s) described in the latest Law Enforcement Data Service (LEDS) Security Operating Procedures document.</p>

    <p class="govuk-body-s">You are responsible for the protection of this personal data. You must keep the data secure and protect it against loss, unauthorised access or use. You must not send or transmit this document through systems that are not secure. You are responsible for securely destroying this document when it is no longer needed for the specified purpose(s).</p>

    <p class="govuk-body-s">This is a documented copy of vehicle data held by DVLA, DVSA, MIB and PNC. The document is produced via the LEDS Vehicles product and is only valid for the time and date specified within.</p>

  </div>
</div>

<div class="pagebreak"> </div>

<div class="govuk-!-margin-bottom-7 govuk-!-margin-top-9">
  <h2 class="govuk-heading-l">Vehicle and keeper details </h2>

      <dl class="govuk-summary-list_print">
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            VRM
          </dt>
          <dd class="govuk-summary-list__value_print">
            CF60 POP
          </dd>

        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            VIN
          </dt>
          <dd class="govuk-summary-list__value_print">
            5YJSA1DG9DFP14705
          </dd>

        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Make/model
          </dt>
          <dd class="govuk-summary-list__value_print">
            Mercedes Benz, C-Class
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Body type
          </dt>
          <dd class="govuk-summary-list__value_print">
            5 door saloon
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Colour
          </dt>
          <dd class="govuk-summary-list__value_print">
            Orange & Black
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Fuel type
          </dt>
          <dd class="govuk-summary-list__value_print">
            Electric
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Registered keeper
          </dt>
          <dd class="govuk-summary-list__value_print">
            Bob Salmon
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Keeper since
          </dt>
          <dd class="govuk-summary-list__value_print">
            01/09/2022
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Registered keeper address
          </dt>
          <dd class="govuk-summary-list__value_print">
            72 Guild Street, London, SE23 6FH
          </dd>
        </div>
      </dl>
    </div>

<div class="pagebreak"> </div>

    <div class="govuk-!-margin-bottom-7 govuk-!-margin-top-9">
      <h2 class="govuk-heading-l">Vehicle status and markers</h2>

      <dl class="govuk-summary-list_print">
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Hazards
          </dt>
          <dd class="govuk-summary-list__value_print">
            Weapons
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Police information
          </dt>
          <dd class="govuk-summary-list__value_print">
            Lost/Stolen
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            DVLA Markers
          </dt>
          <dd class="govuk-summary-list__value_print">
            None
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Insurance
          </dt>
          <dd class="govuk-summary-list__value_print markers">
            No insurance held
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            MOT
          </dt>
          <dd class="govuk-summary-list__value_print markers">
            MOT held - Expiry date: 06/04/2023
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Tax
          </dt>
          <dd class="govuk-summary-list__value_print markers">
            Tax held - Expiry date: 11/12/2023
          </dd>
        </div>
      </dl>
    </div>

    <div class="pagebreak"> </div>


<div class="govuk-!-margin-bottom-7 govuk-!-margin-top-9">
  <h2 class="govuk-heading-l">More vehicle details</h2>

      <dl class="govuk-summary-list_print">
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Engine number
          </dt>
          <dd class="govuk-summary-list__value_print">
            52WVC10338
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Engine capacity
          </dt>
          <dd class="govuk-summary-list__value_print">
            2000cc
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Date of first registration
          </dt>
          <dd class="govuk-summary-list__value_print">
            20/12/2003
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Date of first DVLA registration
          </dt>
          <dd class="govuk-summary-list__value_print">
            20/12/2003
          </dd>
        </div>
        <div class="govuk-summary-list__row_print">
          <dt class="govuk-summary-list__key_print">
            Tax class
          </dt>
          <dd class="govuk-summary-list__value_print">
            Electric
          </dd>
        </div>
      </dl>
    </div>

<div class="pagebreak"> </div>

          <div class="govuk-!-margin-bottom-7 govuk-!-margin-top-9">
            <h2 class="govuk-heading-l">Current insurance policy details</h2>

            <dl class="govuk-summary-list_print">
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Insurance policy
                </dt>
                <dd class="govuk-summary-list__value_print">
                  1213-56345-3242
                </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Policy holder
                </dt>
                <dd class="govuk-summary-list__value_print">
                  Bob Salmon
                </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Insured from
                </dt>
                <dd class="govuk-summary-list__value_print">
                  11/03/2022 00:00
                </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Insured to
                </dt>
                <dd class="govuk-summary-list__value_print">
                  10/03/2023 23:59
                </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Policy address
                </dt>
                <dd class="govuk-summary-list__value_print">
                  72 Guild Street, London, SE23 6FH
                </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Allowed to drive other vehicles
                </dt>
                <dd class="govuk-summary-list__value_print">
                  Yes
                </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Class of use
                </dt>
                <dd class="govuk-summary-list__value_print">
                  Social, domestic & pleasure
                </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Company details
                </dt>
                <dd class="govuk-summary-list__value_print">
                  Angler Motor Insurance LTD - 02063331234
                </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  VRM
                </dt>
                <dd class="govuk-summary-list__value_print">
                  CF60 POP
                </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Vehicle make & model
                </dt>
                <dd class="govuk-summary-list__value_print">
                  Mercedes Benz, C-Class
                </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Permitted drivers
                </dt>
                <dd class="govuk-summary-list__value_print">
                  Any drivers - excluding drivers under 21
                </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Included named drivers
                </dt>
                  <dd class="govuk-summary-list__value_print">
                    Fred Salmon - Date of birth: 10/06/1968<br>
                    Kate Salmon - Date of birth: 21/03/1999
                  </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Excluded named drivers
                </dt>
                  <dd class="govuk-summary-list__value_print">
                    Karl Salmon - Date of birth: 12/07/1988<br>
                    Jake Jones - Date of birth: 30/05/1991
                  </dd>
              </div>
              <div class="govuk-summary-list__row_print">
                <dt class="govuk-summary-list__key_print">
                  Extra named drivers
                </dt>
                <dd class="govuk-summary-list__value_print">
                  None (Included or Excluded)
                </dd>
              </div>
            </dl>
        </div>

<div class="pagebreak"> </div>


        <div class="govuk-!-margin-bottom-7 govuk-!-margin-top-9">
          <h2 class="govuk-heading-l">Past insurance policy details (for 20/09/2022)</h2>
          <p class="govuk-body-s">Insurance held for CF60 POP on 20/09/2022. <br>There were 2 active insurance policies for this vehicle on that date, but only the latest is displayed below.</p>

          <dl class="govuk-summary-list_print">
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Insurance policy
              </dt>
              <dd class="govuk-summary-list__value_print">
                1213-56345-3242
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Policy holder
              </dt>
              <dd class="govuk-summary-list__value_print">
                Bob Salmon
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Insured from
              </dt>
              <dd class="govuk-summary-list__value_print">
                11/03/2022 00:00
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Insured to
              </dt>
              <dd class="govuk-summary-list__value_print">
                10/03/2023 23:59
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Policy address
              </dt>
              <dd class="govuk-summary-list__value_print">
                72 Guild Street, London, SE23 6FH
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Allowed to drive other vehicles
              </dt>
              <dd class="govuk-summary-list__value_print">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Class of use
              </dt>
              <dd class="govuk-summary-list__value_print">
                Social, domestic & pleasure
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Company details
              </dt>
              <dd class="govuk-summary-list__value_print">
                Angler Motor Insurance LTD - 02063331234
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                VRM
              </dt>
              <dd class="govuk-summary-list__value_print">
                CF60 POP
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Vehicle make & model
              </dt>
              <dd class="govuk-summary-list__value_print">
                Mercedes Benz, C-Class
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Permitted drivers
              </dt>
              <dd class="govuk-summary-list__value_print">
                Any drivers - excluding drivers under 21
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Included named drivers
              </dt>
                <dd class="govuk-summary-list__value_print">
                  Fred Salmon - Date of birth: 10/06/1968<br>
                  Kate Salmon - Date of birth: 21/03/1999
                </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Excluded named drivers
              </dt>
                <dd class="govuk-summary-list__value_print">
                  Karl Salmon - Date of birth: 12/07/1988<br>
                  Jake Jones - Date of birth: 30/05/1991
                </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Extra named drivers
              </dt>
              <dd class="govuk-summary-list__value_print">
                None (Included or Excluded)
              </dd>
            </div>
          </dl>
        </div>

<div class="pagebreak"> </div>

        <div class="govuk-!-margin-bottom-7 govuk-!-margin-top-9">
          <h2 class="govuk-heading-l">Previous keeper information</h2>

          <dl class="govuk-summary-list_print">
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Name
              </dt>
              <dd class="govuk-summary-list__value_print">
                Sarah Phillips
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Start date
              </dt>
              <dd class="govuk-summary-list__value_print">
                19/06/2016
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                End date
              </dt>
              <dd class="govuk-summary-list__value_print">
                09/03/2018
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Address
              </dt>
              <dd class="govuk-summary-list__value_print">
                72 Guild Street, London, SE23 6FH
              </dd>
            </div>
          </dl>
        </div>

        <div class="pagebreak"> </div>


        <div class="govuk-!-margin-bottom-7 govuk-!-margin-top-9">
          <h2 class="govuk-heading-l">MOT history</h2>

          <h5 class="govuk-heading-m">16/03/2022 - PASSED</h5>
          <dl class="govuk-summary-list_print">
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Expiry date
              </dt>
              <dd class="govuk-summary-list__value_print">
                06/04/2023
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Mileage
              </dt>
              <dd class="govuk-summary-list__value_print">
                64006 miles
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                MOT test number
              </dt>
              <dd class="govuk-summary-list__value_print">
                998374627891
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Minor defects
              </dt>
              <dd class="govuk-summary-list__value_print">
                Registration plate lamp throwing direct white light to the rear Nearside [4.7.1(a)]
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Advisory notice items
              </dt>
              <dd class="govuk-summary-list__value_print">
                Rear Child Seat fitted not allowing full inspection of adult belt Nearside rear, Centre rear and offside rear seatbelt not assessible. <br>
                Tyre worn close to the legal limit Nearside Front [5.2.3(e)] <br>
                Offside Inner Front constant velocity joint gaiter deteriorated, but preventing the ingress of dirt (2.5.C1a)
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Pass with Rectification at Station (PRS) notes
              </dt>
              <dd class="govuk-summary-list__value_print">
                Stop lamp(s) not working Offside [4.3.1(a)(ii)]
              </dd>
            </div>
          </dl>


          <h5 class="govuk-heading-m">30/03/2021 - PASSED</h5>
          <dl class="govuk-summary-list_print">
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Expiry date
              </dt>
              <dd class="govuk-summary-list__value_print">
                06/04/2022
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Mileage
              </dt>
              <dd class="govuk-summary-list__value_print">
                60220 miles
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                MOT test number
              </dt>
              <dd class="govuk-summary-list__value_print">
                897612672166
              </dd>
            </div>
          </dl>

          <h5 class="govuk-heading-m">02/04/2022 - PASSED</h5>
          <dl class="govuk-summary-list_print">
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Expiry date
              </dt>
              <dd class="govuk-summary-list__value_print">
                02/05/2021
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Mileage
              </dt>
              <dd class="govuk-summary-list__value_print">
                57220 miles
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                MOT test number
              </dt>
              <dd class="govuk-summary-list__value_print">
                901289128723
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Advisory notice items
              </dt>
              <dd class="govuk-summary-list__value_print">
                Windscreen has damage to an area less than a 40mm circle outside zone A (8.3.1d)
              </dd>
            </div>
          </dl>
        </div>

<div class="pagebreak"> </div>

        <div class="govuk-!-margin-bottom-7 govuk-!-margin-top-9">
          <h2 class="govuk-heading-l">Police reports</h2>

          <dl class="govuk-summary-list_print">
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Report type
              </dt>
              <dd class="govuk-summary-list__value_print">
                Lost/Stolen (E34Y9340TY3293)
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Incident date (from)
              </dt>
              <dd class="govuk-summary-list__value_print">
                20/07/2022
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Incident date (to)
              </dt>
              <dd class="govuk-summary-list__value_print">
                20/07/2022
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Hazards
              </dt>
              <dd class="govuk-summary-list__value_print">
                Occupants potentially dangerous <br>
                Weapons
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Status
              </dt>
              <dd class="govuk-summary-list__value_print">
                Confirmed
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Owner
              </dt>
              <dd class="govuk-summary-list__value_print">
                07A1
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Created on
              </dt>
              <dd class="govuk-summary-list__value_print">
                15/03/2022 12:12
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Created by
              </dt>
              <dd class="govuk-summary-list__value_print">
                Constable Smith, PO123456, Essex Police
              </dd>
            </div>
            <div class="govuk-summary-list__row_print">
              <dt class="govuk-summary-list__key_print">
                Notes
              </dt>
              <dd class="govuk-summary-list__value_print">
                15/03/22 0500HRS VEHICLE STOLEN AT GUNPOINT FROM HALFORDS, BRIXTON, SW9. SUSP M, WHITE, F508, SLIM, WEARING A BLACK NIKE HOODIE. CONSIDER FIREARMS SUPPORT. CONTACT PS JOHN DOE, 02081237634 FORCE 01LX.
              </dd>
            </div>
          </dl>
        </div>

  </div>
</div>

{% endblock %}
