{% extends "layout-menu-new.html" %}

{% block pageTitle %}
Create new report – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-three-quarters govuk-!-padding-right-9">

<div class="govuk-caption-l">Edit record</div>
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Do you need to Block this vehicle record?
    </h1>
  </legend>

<form class="form" action="./overview-updated-blocked" method="post">
  <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="block" name="block" type="radio" value="yes" data-aria-controls="conditional-block-Yes">
            <label class="govuk-label govuk-radios__label" for="block">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-block-Yes">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="code">
                  Force/Station code responsible
                </label>
                <select class="govuk-select" id="block-code" name="blockCode">
                  {% block codesBlock %}
                  {% include "includes/codes.html" %}
                  {% endblock %}
                </select>
              </div>
              <div class="govuk-form-group govuk-!-width-one-half">
                <label class="govuk-label govuk-label--s" for="reference">
                  Blocked reference
                </label>
                <div id="changed-name-hint" class="govuk-hint">
                  Enter Force/Station code or unit name
                </div>
                <input class="govuk-input" id="block-ref" name="blockRef">
              </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="block-2" name="block" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="block-2">
              No
            </label>
          </div>
        </div>
      </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">
    <input class="govuk-input" id="block-time" name="blockTime" style="display:none">


    <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button" style="float:left">Block record</button>
    <div>
      <a class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
    </div>
    </div>
    </form>
  </div>
  <div class="govuk-grid-column-one-quarter">
    {% block side %}
    {% include "includes/record-overview-side.html" %}
    {% endblock %}
  </div>

</div>


<script>
  const dt = new Date();
  document.getElementById("block-time").value = dt.toLocaleDateString([],{hour:'2-digit', minute:'2-digit'});
</script>

{% endblock %}
