{% extends "layout-menu-new.html" %}

{% block pageTitle %}
Create new report – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-three-quarters govuk-!-padding-right-9">

  <div class="govuk-caption-l">Edit police record</div>
  <h1 class="govuk-heading-l">Update vehicle details</h1>

  <div class="hods-alert govuk-!-margin-top-6 govuk-!-width-one-half">
    <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">
      All fields on this page are <strong>optional</strong>
    </p>
  </div>

    <div class="govuk-form-group">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="VRM">
          VRM (Vehicle Registration Mark)
        </label>
        <div id="onbehalf-hint" class="govuk-hint">
          Also known as Index or VRN
        </div>
        <input class="govuk-input" style="width:270px" id="event-name" name="event-name" type="text" value="SG 19705" disabled>
      </div>

      <div class="govuk-form-group govuk-!-width-one-half">
        <label class="govuk-label govuk-label--s" for="make">
          Make
        </label>
        <select class="govuk-select" id="code" name="code">
          {% block make %}
          {% include "includes/make-selected.html" %}
          {% endblock %}
        </select>
      </div>

      <div class="govuk-form-group govuk-!-width-one-half">
        <label class="govuk-label govuk-label--s" for="model">
          Model
        </label>
        <select class="govuk-select" id="model" name="model">
          {% block model %}
          {% include "includes/models-selected.html" %}
          {% endblock %}
        </select>
      </div>

      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <legend class="govuk-fieldset__legend govuk-label--s">
          Colour
        </legend>
        <div class="govuk-grid-row">
          <div class="govuk-form-group govuk-!-margin-left-3" style="float:left">
            <label class="govuk-label" for="make">
              Primary colour
            </label>
            <select class="govuk-select" id="colour-1" name="colour-1" style="text-transform:uppercase">
              <option value="" selected></option>
              <option value="Any">Any</option>
              <option value="Black">Black</option>
              <option selected value="Blue">Blue</option>
              <option value="Bronze">Bronze</option>
              <option value="Brown">Brown</option>
              <option value="Cream">Cream</option>
              <option value="Gold">Gold</option>
              <option value="Green">Green</option>
              <option value="Grey">Grey</option>
              <option value="Maroon">Maroon</option>
              <option value="Multi coloured">Multi coloured</option>
              <option value="Orange">Orange</option>
              <option value="Pink">Pink</option>
              <option value="Purple">Purple</option>
              <option value="Red">Red</option>
              <option value="Silver">Silver</option>
              <option value="Turquoise">Turquoise</option>
              <option value="White">White</option>
              <option value="Yellow">Yellow</option>
            </select>
          </div>
          <div class="govuk-form-group" style="float:left; margin-left:45px">
            <label class="govuk-label" for="make">
              Secondary colour
            </label>
            <select class="govuk-select" id="colour-2" name="colour-2" style="text-transform:uppercase">
              <option value="" selected></option>
              <option value="Any">Any</option>
              <option value="Black">Black</option>
              <option value="Blue">Blue</option>
              <option value="Bronze">Bronze</option>
              <option value="Brown">Brown</option>
              <option value="Cream">Cream</option>
              <option value="Gold">Gold</option>
              <option value="Green">Green</option>
              <option value="Grey">Grey</option>
              <option value="Maroon">Maroon</option>
              <option value="Multi coloured">Multi coloured</option>
              <option value="Orange">Orange</option>
              <option value="Pink">Pink</option>
              <option value="Purple">Purple</option>
              <option value="Red">Red</option>
              <option value="Silver">Silver</option>
              <option value="Turquoise">Turquoise</option>
              <option value="White">White</option>
              <option value="Yellow">Yellow</option>
            </select>
          </div>
        </div>
      </div>

      <div class="govuk-form-group govuk-!-width-one-half">
        <label class="govuk-label govuk-label--s" for="make">
          Body type
        </label>
        <select class="govuk-select" id="body" name="body" style="width:270px; text-transform:uppercase">
          {% block bodytype %}
          {% include "includes/body-type.html" %}
          {% endblock %}
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="VIN">
          VIN (Vehicle Identification Number)
        </label>
        <div id="onbehalf-hint" class="govuk-hint">
          Also known as chassis number
        </div>
        <input class="govuk-input" style="width:270px" id="VIN" name="VIN" type="text">
      </div>
      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <legend class="govuk-fieldset__legend govuk-label--s">
          Engine details
        </legend>
        <div class="govuk-grid-row">
          <div class="govuk-form-group govuk-!-margin-left-3" style="float:left">
            <label class="govuk-label" for="engine-no">
              Engine number
            </label>
            <input class="govuk-input" id="engine-no" name="engine-no" type="text">
          </div>
          <div class="govuk-form-group" style="float:left; margin-left:35px">
            <label class="govuk-label" for="make">
              Engine capacity
            </label>
            <input class="govuk-input" id="engine-cc" name="engine-cc" type="text">
          </div>
        </div>
      </div>
      <!--
        <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="fuel">
          Fuel type
        </label>
        <select class="govuk-select" id="make" name="fuel" style="width:180px; text-transform:uppercase"">
          <option value="" selected></option>
          <option value="diesel">Diesel</option>
          <option value="electric">Electric</option>
          <option value="hybrid">Hybrid</option>
          <option value="petrol">Petrol</option>
        </select>
      </div>
      -->

      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-label--s">
          Registration date
        </legend>
        <div class="govuk-date-input" id="passport-issued">
          <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="passport-issued-day" name="passport-issued-day" type="date">
        </div>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="engine-no">
          Transponder tag number
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="engine-no" name="engine-no" type="text">
      </div>
      </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

    <!-- The Modal -->
    <div id="lock-modal" class="modal">
      <div class="modal-content">
        {#<div class="modal-header">
          <span class="closeCross">&times;</span>
          <h2 class="govuk-heading-m" style="margin-bottom: 6px; color: #ffffff"><span class="govuk-visually-hidden">Force/station code </span>20FA contact details</h2>
        </div>#}
        <div class="modalbody govuk-!-padding-bottom-0">
          {#<h2 class="govuk-heading-l" id="modal-title">Birmingham Central Police Station</h2>#}

          {#<div style="float: right">
            <a href="#/" class="govuk-link closeLink">Close <span class="govuk-visually-hidden">this modal window</span></a>
          </div>#}

          <span id="modal-title">
            <h2 class="govuk-heading-l">Session about to expire</h2>
          </span>
          <p class="govuk-body-l">
            Your session will expire in 2 minutes and all changes will be lost.
          </p>

          <p class="govuk-body govuk-!-margin-bottom-0">
            <a href="#/" class="govuk-button closeLink">Extend session</a>
          </p>
        </div>
      </div>
    </div>
    <!-- End of modal -->

    <div class="govuk-button-group">
      <a href="./check-answers-update-vehicle" role="button" draggable="false" class="govuk-button" data-module="govuk-button" style="float:left">Continue</a>
      <a class="govuk-link govuk-link--no-visited-state" href="#" id="cancel">Cancel</a>
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <section class="app-summary-card govuk-!-margin-top-5">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">Your search justification</h2>
      </header>
      <div class="app-summary-card__body">
          <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">12/08/2023-DSM12124/12a</p>
      </div>
    </section>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById("lock-modal");

// Get the button that opens the modal
var btn = document.getElementById("cancel");

// Get the <span> element that closes the modal
//var spanCloseCross = document.getElementsByClassName("closeCross")[0];

// Get the <span> element that closes the modal
var spanCloseLink = document.getElementsByClassName("closeLink")[0];

// Get the <span> element that closes the modal with a link
//var span = document.getElementsByClassName("close-link")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
//spanCloseCross.onclick = function() {
//  modal.style.display = "none";
//}

// When the user clicks on <span> (link), close the modal
spanCloseLink.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
// Trigger modal 5,000 milliseconds after page has loaded (1000 milliseconds is 1 second); refresh page to trigger again
window.onload = function(){
 setTimeout(function() { modal.style.display = "block"; }, 5000);
};

</script>
{% endblock %}
