{% extends "layout-menu-new.html" %}

{% block pageTitle %}
Create new report – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-6">
  <form class="form" action="./check-answers-update-stolen" method="post">
  <div class="govuk-grid-column-three-quarters govuk-!-padding-right-9">

<div class="govuk-caption-l">Edit report</div>
<h1 class="govuk-heading-l">Update Lost/Stolen report details</h1>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="event-name">
        Report owner
      </label>
      <input class="govuk-input" style="width:270px" id="event-name" name="event-name" type="text" value="01LX" disabled>
    </div>

    <div class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-label--s">
        Report creator
      </legend>
      <input class="govuk-input" style="width:270px" id="event-name" name="event-name" type="text" value="" disabled>
    </div>


      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="event-name">
          Reference number (Optional)
        </label>
        <div id="passport-issued-hint" class="govuk-hint">
          A reference number is required for Confirming the report
        </div>
        <input class="govuk-input govuk-!-width-one-half" id="los-ref" name="losRef" type="text" value="SX123/12B">
      </div>

      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <legend class="govuk-fieldset__legend govuk-label--s">
          Incident date
        </legend>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group">
              <legend class="govuk-fieldset__legend">
                From (Optional)
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="act-incident-from" name="actIncidentFrom" type="date" value="2023-07-31">
              </div>
            </fieldset>
          </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group">
              <legend class="govuk-fieldset__legend">
                To (Optional)
              </legend>
              <div class="govuk-date-input" id="passport-issued">
                <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="act-incident-to" name="actIncidentTo" type="date">
              </div>
            </fieldset>
          </div>
        </div>
      </div>

    <legend class="govuk-fieldset__legend govuk-label--s" for="label-as-page-heading">
      Report text
    </legend>

    <div class="govuk-character-count govuk-!-margin-bottom-5" data-module="govuk-character-count" data-maxlength="66">
      <div class="govuk-form-group">
        <label class="govuk-label" for="label-as-page-heading">
          Line 1
        </label>
        <input class="govuk-input govuk-js-character-count" id="los-notes" name="losNotes" rows="1" style="text-transform: uppercase" aria-describedby="label-as-page-heading-info" value="This is the text that the user entered when they created the">
      </div>
      <div id="los-notes-info" class="govuk-hint govuk-character-count__message">
        You can enter up to 66 characters
      </div>
    </div>
    <div class="govuk-character-count govuk-!-margin-bottom-5" data-module="govuk-character-count" data-maxlength="66">
      <div class="govuk-form-group">
        <label class="govuk-label" for="label-as-page-heading">
          Line 2
        </label>
        <input class="govuk-input govuk-js-character-count" id="los-notes" name="losNotes" rows="1" style="text-transform: uppercase" aria-describedby="label-as-page-heading-info" value="report. It should be exactly as they entered it.">
      </div>
      <div id="los-notes-info" class="govuk-hint govuk-character-count__message">
        You can enter up to 66 characters
      </div>
    </div>
    <div class="govuk-character-count govuk-!-margin-bottom-5" data-module="govuk-character-count" data-maxlength="66">
      <div class="govuk-form-group">
        <label class="govuk-label" for="label-as-page-heading">
          Line 3
        </label>
        <input class="govuk-input govuk-js-character-count" id="los-notes" name="losNotes" rows="1" style="text-transform: uppercase" aria-describedby="label-as-page-heading-info">
      </div>
      <div id="los-notes-info" class="govuk-hint govuk-character-count__message">
        You can enter up to 66 characters
      </div>
    </div>
    <br>

    <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-label--s">
            Are there any associated hazards?
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="hazards-yes" name="hazards" type="radio" value="yes" data-aria-controls="conditional-hazards" style="background:white" checked>
            <label class="govuk-label govuk-radios__label" for="hazards-yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-hazards">
              <div class="govuk-form-group">
                  <legend class="govuk-fieldset__legend">
                    Select all hazards that apply
                  </legend>
                  <div class="govuk-checkboxes " data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">
                        Chemical
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">
                        Explosives
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">
                        Occupants potentially dangerous
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label">
                        Radiation
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" type="checkbox" checked>
                      <label class="govuk-label govuk-checkboxes__label">
                        Weapons
                      </label>
                    </div>
                  </div>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="hazards-no" name="hazards" type="radio" value="no" data-aria-controls="conditional-contact-2">
            <label class="govuk-label govuk-radios__label" for="hazards-no">
              No
            </label>
          </div>
        </div>
    </div>

    <div class="govuk-form-group" id="confirm">
        <legend class="govuk-fieldset__legend govuk-label--s">
          Do you need to Confirm this report?
        </legend>
        <div id="passport-issued-hint" class="govuk-hint">
          This will also extend the expiry date from 6 weeks to 6 years
        </div>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="confirm" name="confirm" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="confirm">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="confirm-2" name="confirm" type="radio" value="no" checked>
            <label class="govuk-label govuk-radios__label" for="confirm-2">
              No
            </label>
          </div>
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">


    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" style="float:left">Continue</button>
        <a class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
    </div>
  </div>
</form>

<div class="govuk-grid-column-one-quarter">
  {% block side %}
  {% include "includes/record-overview-side.html" %}
  {% endblock %}
</div>
</div>



{% endblock %}
