{% extends "layout.html" %}

{% block pageTitle %}
  CF60 POP - Markers – {{ serviceName }} – Law Enforcement Data Service
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/search">Search</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/overview">Vehicle record</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Markers
        </li>
      </ol>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

{% block carheader %}
{% include "includes/carheader-police.html" %}
{% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <aside class="" role="complementary">
        <h2 class="govuk-visually-hidden" id="app-subnav-heading">Pages in this section</h2>
        <nav role="navigation" aria-labelledby="subsection-title" class="menu">
          <ul class="menu_list govuk-!-font-size-16">
            <li class="menu_list_item">
              <a href="overview.html" class="menu_list_item_link">
                Overview
              </a>
            </li>
            <li class="menu_list_item">
              <a href="insurance.html" class="menu_list_item_link">
                Insurance (2)
              </a>
            </li>
            <li class="menu_list_item">
              <a href="MOT.html" class="menu_list_item_link">
                MOT history
              </a>
            </li>
            <li class="menu_list_item menu_list_item-active">
              <a href="markers.html" class="menu_list_item_link">
                DVLA markers (2)
              </a>
            </li>
            <li class="menu_list_item">
              <a href="tax.html" class="menu_list_item_link">
                Tax
              </a>
            </li>
            <li class="menu_list_item">
              <a href="previous-keeper.html" class="menu_list_item_link">
                Previous keeper
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

    <div class="govuk-grid-column-three-quarters">
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<!--      <h2 class="govuk-heading-m">Hazards</h2> -->

      {% from "govuk/components/table/macro.njk" import govukTable %}

  {{ govukTable({
    caption: "DVLA markers",
    captionClasses: "govuk-table__caption--l",
    firstCellIsHeader: true,
    head: [
      {
        text: "Marker type"
      },
      {
        text: "Notes"
      }
    ],
    rows: [
    [
        {
          text: "Cherished transfer"
        },
        {
          html: 'BII LLY on this vehicle: from 12/12/2021<br>
          BII LLY on the previous vehicle (now CF60 POP): from 10/10/2020 to 12/12/2021'
        }
      ]
    ]
  }) }}

        </div>
      </div>

{% endblock %}
